/target
.idea
nem-client-api/nem-ncc.log.*
nem-client-api/nem-ncc-0.log
nem-client-api/nem-ncc-0.log.lck
nem-client-api/obfuscation/META-INF/MANIFEST.MF
nem-client-api/obfuscation/obfuscate-ws.bat
nem-client-api/nem-ncc-*.log.*
*.wlt
*.cfg
xyz-file
ncc-nis.log
*.iml
*~
*.bak
nem-client-api/building/META-INF/MANIFEST.MF
nem-client-api/building/buildPackage-ws-sign-ncc.sh
nem-client-api/building/copy-ws.bat
nem-client-api/building/copy-ws.sh
node_modules
