<main class="dashboard-main">
	<div class="container gridster">
		<ul class="dashboard js-dashboard">
			<li class="tile tile--assets" data-row="1" data-col="1" data-sizex="1" data-sizey="1">
				<article>
					<h1 class="tile-title">{{texts.dashboard.assets.title}}</h1>
					<!--/*<div>
						<p class="assetsTile-assetsCount">0 <span class="unit">assets</span></p>
					</div>*/-->
					<p class="notAvailableMessage notAvailableMessage--whole">{{texts.dashboard.notAvailable}}</p>
				</article>
			</li>

			<li class="tile tile--importance" data-row="1" data-col="2" data-sizex="2" data-sizey="1">
				<article>
					<h1 class="tile-title">{{texts.dashboard.importance.title}}</h1>
					{{#activeAccount.remoteStatus === 'INACTIVE'}}
						<button type="button" class="importanceTile-activateButton" on-click="activateRemoteHarvesting">{{texts.dashboard.importance.remoteHarvest.activate}}</button>
					{{/}}
					{{#activeAccount.remoteStatus === 'ACTIVATING'}}
						<button type="button" disabled class="importanceTile-activateButton">{{texts.dashboard.importance.remoteHarvest.activating}}</button>
					{{/}}
					{{#activeAccount.remoteStatus === 'ACTIVE'}}
						<button class="importanceTile-activateButton hoverTarget" on-click="deactivateRemoteHarvesting">
							<span class="hideOnHover">
								{{texts.dashboard.importance.remoteHarvest.active}}
							</span>
							<span class="showOnHover">
								{{texts.dashboard.importance.remoteHarvest.deactivate}}
							</span>
						</button>
					{{/}}
					{{#activeAccount.remoteStatus === 'DEACTIVATING'}}
						<button type="button" disabled class="importanceTile-activateButton">{{texts.dashboard.importance.remoteHarvest.deactivating}}</button>
					{{/}}

					<div class="importanceTile-harvest">
						{{#activeAccount.remoteStatus !== 'ACTIVE'}}
							{{#status.lostConnection || nisUnavailable || activeAccount.status === 'UNKNOWN'}}
								<button type="button" class="importanceTile-harvestButton icon-question-circle" disabled>
									<span>{{texts.dashboard.importance.unknown}}</span>
								</button>
							{{/}}
							{{^status.lostConnection || nisUnavailable || activeAccount.status === 'UNKNOWN'}}
								{{#activeAccount.status === 'LOCKED'}}
									<button type="button" class="importanceTile-harvestButton importanceTile-harvestButton--notHarvesting icon-play" on-click="startHarvesting">
										<span>{{texts.dashboard.importance.start}}</span>
									</button>
								{{/}}
								{{#activeAccount.status === 'UNLOCKED'}}
									<button type="button" class="importanceTile-harvestButton importanceTile-harvestButton--harvesting icon-pause" on-click="stopHarvesting">
										{{texts.dashboard.importance.stop}}
									</button>
								{{/}}
							{{/}}
						{{/}}

						{{#activeAccount.remoteStatus === 'ACTIVE'}}
							{{^walletPage.remoteUnlocked}}
								<button type="button" class="importanceTile-harvestButton importanceTile-harvestButton--notHarvesting icon-play" on-click="startRemoteHarvesting">{{texts.dashboard.importance.remoteHarvest.startRemoteHarvesting}}</button>
							{{/}}
							{{#walletPage.remoteUnlocked}}
								<button type="button" class="importanceTile-harvestButton importanceTile-harvestButton--harvesting icon-pause" on-click="stopRemoteHarvesting">
									{{texts.dashboard.importance.remoteHarvest.stopRemoteHarvesting}}
								</button>
							{{/}}
						{{/}}
					</div>

					<div class="importanceTile-content">
						<p class="importanceTile-importanceScore">{{Math.round(activeAccount.importance * 10000) / 100}}%</p>
						<p class="importanceTile-description">{{texts.dashboard.importance.description}}</p>
					</div>
				</article>
			</li>

			<li class="tile tile--transactions" data-row="2" data-col="1" data-sizex="3" data-sizey="2">
				<article>
					<h1 class="tile-title" on-click="redirect:'transactions', {{params}}">{{texts.dashboard.transactions.title}}</h1>
					<button type="button" class="transactionsTile-sendNemButton icon-paper-plane" disabled="{{nisUnavailable}}" on-click="openSendNem">{{texts.dashboard.transactions.sendNem}}</button>
					<div class="transactionsTile-overview">
						<h1 class="transactionsTile-balanceLabel">{{texts.dashboard.transactions.balance}}</h1>
						<p>
							<span class="transactionsTile-balance" title="{{Math.floor(activeAccount.balance / 1000000)}} NEM {{activeAccount.balance % 1000000}} mNEM" on-mouseover="registerToolTip">
								{{{formatCurrency(activeAccount.balance, false)}}} 
								<span class="unit">NEM</span>
							</span> 
							<span class="transactionsTile-currentBlock">{{fill(texts.dashboard.transactions.syncStatus, nis.nodeMetaData.nodeBlockChainHeight)}}</span>
						</p>
					</div>
					<table class="txList">
						<tr>
							<th class="txList-header txList-col--type">{{texts.dashboard.transactions.columns.0}}</th>
							<th class="txList-header txList-col--date">{{texts.dashboard.transactions.columns.1}}</th>
							<th class="txList-header txList-col--sender">{{texts.dashboard.transactions.columns.2}}</th>
							<th class="txList-header txList-col--message">{{texts.dashboard.transactions.columns.3}}</th>
							<th class="txList-header txList-col--encrypted">{{texts.dashboard.transactions.columns.4}}</th>
							<th class="txList-header">{{texts.dashboard.transactions.columns.5}}</th>
							<th class="txList-header txList-col--confirmations">{{texts.dashboard.transactions.columns.6}}</th>
							<th class="txList-header txList-col--fee">{{texts.dashboard.transactions.columns.7}} <span class="dimmed">(NEM)</span></th>
							<th class="txList-header txList-col--amount">{{texts.dashboard.transactions.columns.8}} <span class="dimmed">(NEM)</span></th>
						</tr>
						{{#activeAccount.transactions:i}}
							{{#i < 4}}
								<tr>
                                    {{^.confirmed}}
                                        <td class="txList-cell txList-col--type txList-col--type--pending icon-clock" title="{{texts.dashboard.transactions.types.pending}}" on-mouseover="registerToolTip"></td>
                                    {{/}}
                                    {{#.confirmed}}
                                        {{#.isSelf}}
                                            <td class="txList-cell txList-col--type icon-self" title="{{texts.dashboard.transactions.types.self}}" on-mouseover="registerToolTip"></td>
                                        {{/}}
                                        {{#.isOutgoing}}
                                            <td class="txList-cell txList-col--type txList-col--type--outgoing icon-minus" title="{{texts.dashboard.transactions.types.outgoing}}" on-mouseover="registerToolTip"></td>
                                        {{/}}
                                        {{#.isIncoming}}
                                            <td class="txList-cell txList-col--type txList-col--type--incoming icon-plus" title="{{texts.dashboard.transactions.types.incoming}}" on-mouseover="registerToolTip"></td>
                                        {{/}}
                                    {{/}}
									<td class="txList-cell txList-col--date">{{.formattedDate}}</td>
                                    {{#.isSelf || .isOutgoing}}
                                        <td class="txList-cell txList-col--sender" title="{{formattedRecipient}}" on-mouseover="registerToolTip">{{.formattedRecipient}}</td>
                                    {{/}}
                                    {{#.isIncoming}}
                                        <td class="txList-cell txList-col--sender" title="{{formattedSender}}" on-mouseover="registerToolTip">{{.formattedSender}}</td>
                                    {{/}}
									<td class="txList-cell txList-col--message">
										{{#.message}}{{.message}}{{/}}
										{{^.message}}<span class="dimmed">{{texts.dashboard.transactions.noMessage}}</span>{{/}}
									</td>
									<td class="txList-cell txList-col--encrypted encryptedIcon">
										{{#.encrypted}}
											<span class="icon-lock" title="{{texts.dashboard.transactions.encrypted}}" on-mouseover="registerToolTip"></span>
										{{/}}
									</td>
									<td class="txList-cell txList-col--details" on-click="viewTransaction:{{.}}">{{texts.dashboard.transactions.view}}</td>
									<td class="txList-col--confirmations">
										{{^.confirmed}}{{texts.dashboard.transactions.pending}}{{/}}
										{{#.confirmed}}{{.confirmations}}{{/}}
									</td>
                                    <td class="txList-cell txList-col--fee">{{#.isOutgoing || .isSelf}}-{{/}}{{{formattedFee}}}</td>
                                    <td class="txList-cell txList-col--amount">
	                                    {{#.isSelf}}&plusmn;{{/}}<!--
	                                    -->{{#.isOutgoing}}-{{/}}<!--
	                                    -->{{#.isIncoming}}+{{/}}<!--
	                                    -->{{{formattedAmount}}}
                                    </td>
								</tr>
							{{/}}
						{{/}}
					</table>
					{{#activeAccount.transactions.length > 4 }}
						<p class="txList-seeAll"><a href="javascript:;" on-click="redirect:'transactions'">{{texts.dashboard.transactions.seeAll}} <span class="txList-seeAll-arrow icon-arrow-right"></span></a></p>
					{{/}}
					{{^activeAccount.transactions}}
						<p class="txList-noRecords">{{texts.dashboard.transactions.noTransactions}}</p>
					{{/}}
				</article>
			</li>
			<li class="tile tile-nemValue" data-row="4" data-col="1" data-sizex="2" data-sizey="2">
				<article>
					<h1 class="tile-title">{{texts.dashboard.nemValue.title}}</h1>
					<!--/*<p class="value">
						4,158,666,000
						<select id="nem-value-unit-chooser" class="unit">
							<option value="btc">BTC</option>
							<option value="usd">USD</option>
							<option value="eur">EUR</option>
						</select>
						<span class="variation">
							<span class="variation-amount">15%</span>
							<span class="variation-arrow icon-arrow-down"></span>
						</span>
					</p>
					<div id="nem-value-chart"></div>*/-->
					<p class="notAvailableMessage notAvailableMessage--whole">{{texts.dashboard.notAvailable}}</p>
				</article>
			</li>
			<!--/*<li class="tile balance" data-row="1" data-col="2" data-sizex="2" data-sizey="1">
				<article>
					<h1>Your balance</h1>
					<div>
						<div class="last-month">
							<p>Last month</p>
							<p class="notAvailableMessage">{{.notAvailable}}</p>
							/*<p class="number">50,000,000 <span class="unit">NEM</span></p>*/
						</div>
						<div class="current">
							<p>
								/*<span class="variation">
									<span class="variation-arrow icon-arrow-up"></span>
									<span class="variation-amount">3%</span>
								</span>*/
								{{{formatCurrency(activeAccount.balance, false)}}} <span class="unit">NEM</span></p>
						</div>
					</div>
				</article>
			</li>*/-->
			<li class="tile tile-messages" data-row="4" data-col="3" data-sizex="1" data-sizey="1">
				<article>
					<h1 class="icon-envelope tile-title" title="{{texts.dashboard.messages.titleTooltip}}" on-mouseover="registerToolTip"></h1>
					<!--/*<div class="message-preview">
						<div class="viewport">
							<ul class="overview">
								<li>
									<article class="message">
										<p>
											&#8220;Are you willing to send me 1 coin in advance for the party tomorrow&#8221;
											<a class="read-more" href="javascripts:;">Read more</a>
										</p>
										<footer>
											<a href="account" class="sender">
												<span>@Johny</span>
												<img src="assets/ava_1.png" alt="Willy Tran" />
											</a>
										</footer>
									</article>
								</li>
								<li>
									<article class="message">
										<p>
											&#8220;Are you willing to send me 1 coin in advance for the party tomorrow&#8221;
										</p>
										<footer>
											<a href="account" class="sender">
												<span>@William Cuong</span>
												<img src="assets/ava_1.png" alt="Willy Tran" />
											</a>
										</footer>
									</article>
								</li>
								<li>
									<article class="message">
										<p>
											&#8220;Are you willing to send me 1 coin in advance for the party tomorrow&#8221;
										</p>
										<footer>
											<a href="account" class="sender">
												<span>@Loi</span>
												<img src="assets/ava_1.png" alt="Willy Tran" />
											</a>
										</footer>
									</article>
								</li>
							</ul>
						</div>
						<ul class="bullets">
							<li><a href="javascript:;" class="bullet" data-slide="0"></a></li>
							<li><a href="javascript:;" class="bullet" data-slide="1"></a></li>
							<li><a href="javascript:;" class="bullet" data-slide="2"></a></li>
						</ul>
					</div>*/-->
					<p class="notAvailableMessage notAvailableMessage--whole">{{texts.dashboard.notAvailable}}</p>
				</article>
			</li>
			<!--/*<li class="tile apps" data-row="5" data-col="3" data-sizex="1" data-sizey="1">
				<article>
					<h1 class="tile-title">NEM applications</h1>
					<div class="scrollable">
						<ul>
							<li>
								<article class="app">
									<div class="app-icon">
										<a href="app"><img src="assets/appicon_1.png" alt="App name"></a>
									</div>
									<div class="app-info">
										<a href="app"><h1 title="App Name Goes Here">App Name Goes Here</h1></a>
										<p class="vendor-name">Vendor Name</p>
									</div>
									<div class="delete-button">
										<a class="icon-trash" href="javascript:;"></a>
									</div>
								</article>
							</li>
							<li>
								<article class="app">
									<div class="app-icon">
										<a href="app"><img src="assets/appicon_1.png" alt="App name"></a>
									</div>
									<div class="app-info">
										<a href="app"><h1 title="App Name Goes Here">App Name Goes Here</h1></a>
										<p class="vendor-name">Vendor Name</p>
									</div>
									<div class="delete-button">
										<a class="icon-trash" href="javascript:;"></a>
									</div>
								</article>
							</li>
							<li>
								<article class="app">
									<div class="app-icon">
										<a href="app"><img src="assets/appicon_1.png" alt="App name"></a>
									</div>
									<div class="app-info">
										<a href="app"><h1 title="App Name Goes Here">App Name Goes Here</h1></a>
										<p class="vendor-name">Vendor Name</p>
									</div>
									<div class="delete-button">
										<a class="icon-trash" href="javascript:;"></a>
									</div>
								</article>
							</li>
						</ul>
					</div>
					<p class="notAvailableMessage notAvailableMessage--whole">{{.notAvailable}}</p>
				</article>
			</li>*/-->
			<li class="tile tile-news" data-row="5" data-col="3" data-sizex="1" data-sizey="1">
				<article>
					<h1 class="icon-sound tile-title" title="{{texts.dashboard.news.titleTooltip}}" on-mouseover="registerToolTip"></h1>
					<!--/*<div class="news-preview">
						<div class="viewport">
							<ul class="overview">
								<li>
									<article class="news-article">
										<h1>Beta release 1</h1>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor urna ut justo sagittis ornare. Aliquam ... <a class="read-more" href="javascripts:;">Read more</a></p>
									</article>
								</li>
								<li>
									<article class="news-article">
										<h1>Some News 2</h1>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor urna</p>
									</article>
								</li>
								<li>
									<article class="news-article">
										<h1>Count to 3</h1>
										<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras porttitor urna ut justo sagittis ornare. Aliquam... <a class="read-more" href="javascripts:;">Read more</a></p>
									</article>
								</li>
							</ul>
						</div>
						<ul class="bullets">
							<li><a href="javascript:;" class="bullet" data-slide="0"></a></li>
							<li><a href="javascript:;" class="bullet" data-slide="1"></a></li>
							<li><a href="javascript:;" class="bullet" data-slide="2"></a></li>
						</ul>
					</div>*/-->
					<p class="notAvailableMessage notAvailableMessage--whole">{{texts.dashboard.notAvailable}}</p>
				</article>
			</li>
			<!--/*<li class="tile send" data-row="3" data-col="1" data-sizex="1" data-sizey="3">
				<article>
					<h1 class="tile-title">Send NEM</h1>
					<div class="content">
						<div class="form-control amount">
							<input type="text" placeholder="Amount" value="{{sendTransactionForm.amount}}" on-change={{formInputChange}} /><span class="unit">NEM</span>
						</div>
						<input type="text" placeholder="Recipient's account" class="recipient form-control" />
						<textarea placeholder="Message" class="form-control" value="{{sendTransactionForm.message}}"></textarea>
						<div class="form-control fee">
							<label>Fee</label><input value="{{sendTransactionForm.fee}}" /><span class="unit">NEM</span>
						</div>
						<a href="javascript:;" class="set-fee" on-click="resetFee">Reset to minimum fee</a>
						<div class="form-control due-by">
							<label>Due by (hours)</label><input value="{{sendTransactionForm.dueBy}}" min="0" />
						</div>
						<input type="password" placeholder="Password" class="form-control" value="{{sendTransactionForm.password}}" on-keypress="sendFormKeypress" />
						<div class="submit">
							<button type="button" on-click="sendTransaction">Send</button>
						</div>
					</div>
				</article>
			</li>*/-->
		</ul>
	</div>
</main>