<header class="scrollHeader {{#landingPage.scrollHeader}}scrollHeader--active{{/}}">
	<img class="scrollHeader-logo" src="{{texts.landing.logo}}" alt="NEM - New economy movement">
	<nav class="scrollHeader-nav">
		<ul>
			<li class="scrollHeader-nav-item">
				<a href="javascript:;" on-click="scrollTo:'#getting-started'">{{texts.landing.nav.start}}</a>
			</li>
			<li class="scrollHeader-nav-item">
				<a href="javascript:;" on-click="scrollTo:'#landingAbout'">{{texts.landing.nav.about}}</a>
			</li>
			<li class="scrollHeader-nav-item">
				<a href="javascript:;" on-click="openModal('settings')"><strong>{{texts.landing.nav.settings}}</strong></a>
			</li>
			<li class="scrollHeader-nav-item">
				<a href="javascript:;" on-click="toggleOn('landingLanguageDropdown')">
					{{#languages}}
						{{# .id === settings.language}}
							{{.name}}
						{{/}}
					{{/}}
					<span class="icon-down-open"></span>
				</a>
				<ul class="scrollHeader-languageDropdown {{# active.landingLanguageDropdown && landingPage.scrollHeader}}active{{/}}">
					{{#languages}}
						<li class="scrollHeader-languageDropdown-item" on-click="switchLanguage:{{.id}}">{{.name}}</li>
					{{/}}
				</ul>
			</li>
		</ul>
	</nav>
</header>
<main class="landing-main {{#landingPage.gateClosed}}landing--gateClosed{{/}} {{#landingPage.activeSection === 'left'}}landing--leftGateActive{{/}} {{#landingPage.activeSection === 'right'}}landing--rightGateActive{{/}} {{#landingPage.overlayIn}}landing-overlayIn{{/}} {{#landingPage.hexagonIn}}landing--hexagonIn{{/}}">
	<div id="getting-started">
		<div class="landing-background"></div>
		<div class="landing-slidingGate">
			<svg viewBox="0 0 1600 706">
				<defs>
					<mask id="mask">
						<rect x="0" y="0" width="100%" height="100%" fill="#fff" />
						<path id="landing-or-hexagon" d="m777.0423,414.43436c-4.30273,0 -9.5863,-3.04678 -11.74127,-6.77118l-15.14606,-26.17484c-2.15497,-3.72437 -2.15497,-9.81796 0,-13.54233l15.14606,-26.17484c2.15497,-3.7244 7.43854,-6.77118 11.74127,-6.77118l30.31744,0c4.30267,0 9.58624,3.04678 11.74121,6.77118l15.14606,26.17484c2.15497,3.72437 2.15497,9.81796 0,13.54233l-15.14606,26.17484c-2.15497,3.7244 -7.43854,6.77118 -11.74121,6.77118l-30.31744,0z" fill="#000" />
					</mask>
				</defs>
				<g mask="url(#mask)">
					<rect id="landing-gate-left" x="0" y="0" width="956" height="100%" />
					<rect id="landing-gate-right" x="962" y="0" width="1278" height="100%" />
				</g>
				<text id="landing-or-text" x="770" y="386" fill="#3b3b3b">OR</text>
			</svg>
			<div class="iefix">
				<div class="ie-landing-gate-left"></div>
				<div class="ie-landing-gate-right"></div>
			</div>
		</div>
		<div class="landing-overlayContent">
			<div class="ctaArea">
				<section class="ctaSection createWalletSection">
					<h1 class="ctaSection-title {{#landingPage.activeSection === 'right'}}ctaSection-title--hidden{{/}}">{{{texts.landing.main.leftTitle}}}</h1>
					<button class="ctaButton ctaButton-createWallet {{#landingPage.activeSection === 'left'}}ctaButton--active{{/}}" on-click="switchLeft">{{texts.landing.main.leftButton}}</button>
					<div class="ctaSection-form createWalletForm expandable">
						<div class="js-expand-content createWalletForm-content">
							<input class="createWalletForm-textbox {{^lcwNameValid}}createWalletForm-textbox--invalid{{/}}{{#lcwNameValid}}createWalletForm-textbox--valid{{/}} js-textbox-createWallet-name" type="text" placeholder="{{texts.landing.main.walletNamePlh}}" value="{{landingPage.createWalletForm.wallet}}" on-keypress="createWalletKeypress" />
							<input class="createWalletForm-textbox {{^lcwPasswordValid}}createWalletForm-textbox--invalid{{/}}{{#lcwPasswordValid}}createWalletForm-textbox--valid{{/}} createWalletForm-textbox" type="password" placeholder="{{texts.landing.main.passwordPlh}}" value="{{landingPage.createWalletForm.password}}" on-keypress="createWalletKeypress" />
							<input class="createWalletForm-textbox {{^lcwConfirmPasswordValid}}createWalletForm-textbox--invalid{{/}}{{#lcwConfirmPasswordValid}}createWalletForm-textbox--valid{{/}} createWalletForm-textbox" type="password" placeholder="{{texts.landing.main.confirmPasswordPlh}}" value="{{landingPage.confirmPassword}}" on-keypress="createWalletKeypress" />
							<div class="createWalletForm-submit">
								<div class="createWalletForm-loader loader {{#landingPage.creatingWallet}}loading{{/}}">
									<div class="loader-container">
									    <span class="loader-quarter quarter-1"></span>
									    <span class="loader-quarter quarter-2"></span>
									    <span class="loader-quarter quarter-3"></span>
									    <span class="loader-quarter quarter-4"></span>
								    </div>
								</div>
								<button type="button" class="createWalletForm-submitButton" on-click="createWallet()" disabled="{{landingPage.creatingWallet || !lcwFormValid}}">
									{{#if landingPage.creatingWallet}}
										{{texts.landing.main.creating}}
									{{else}}
										{{texts.landing.main.create}}
									{{/if}}
								</button>
							</div>
						</div>
					</div>
				</section>
				<section class="ctaSection openWalletSection {{#landingPage.activeSection === 'right'}}openWalletSection--active{{/}}">
					<h1 class="ctaSection-title {{#landingPage.activeSection === 'left'}}ctaSection-title--hidden{{/}}">{{{texts.landing.main.rightTitle}}}</h1>
					<button class="ctaButton ctaButton--openWallet {{#landingPage.activeSection === 'right'}}ctaButton--active{{/}}" on-click="switchRight">{{texts.landing.main.rightButton}}</button>
					<div class="ctaSection-form openWalletForm expandable">
						<div class="js-expand-content openWalletForm-content">
							<p class="openWalletForm-headline">
								{{{fill(texts.landing.main.walletsFound, wallets.length || 0)}}}
								<span class="openWalletForm-loader loader {{#landingPage.listingWallets || landingPage.openingWallet}}loading{{/}}">
									<span class="loader-container">
									    <span class="loader-quarter quarter-1"></span>
									    <span class="loader-quarter quarter-2"></span>
									    <span class="loader-quarter quarter-3"></span>
									    <span class="loader-quarter quarter-4"></span>
								    </span>
								</span>
							</p>
							<div class="openWalletList scrollable">
								<ul>
									{{#wallets:i}}
										<li class="openWalletList-item">
											<input class="openWalletList-radio" id="openWallet-wallet{{i}}" name="wallet-choice" type="radio" />
											<label class="openWalletList-label" for="openWallet-wallet{{i}}" on-click="walletSelected">{{wallet}}</label>
											<div class="openWalletList-passwordPrompt">
												<input class="openWalletList-password" type="password" placeholder="{{texts.landing.main.passwordPlh}}" value="{{landingPage.openWalletPasswords[.wallet]}}" on-keypress="passwordKeypress:{{.wallet}}" />
                                                <input class="openWalletList-submitButton landing-submitButton" type="button" on-click="openExistingWallet(.wallet)" value="{{texts.landing.main.openButton}}" disabled="{{landingPage.openWalletPasswords && !landingPage.openWalletPasswords[.wallet]}}"/>
											</div>
										</li>
									{{/wallets}}
								</ul>
								<!--/*<p class="horizontalSeparator"><span class="horizontalSeparator-content">or</span></p>
								<button type="button" class="landing-submitButton import-btn" on-click="selectFile:fileToImport">Import your wallet</button>
								<div class="hider">
									<input type="file" id="fileToImport" on-change="fileToImportSelected" />
								</div>
								{{#fileToImport}}
									<p class="imported-file">{{.import_path}}</p>
									<div class="password-prompt">
										<input type="password" placeholder="Password" value="{{.password}}" on-keypress="importKeypress" /><input type="button" class="landing-submitButton" on-click="importWallet" value="Import" />
									</div>
								{{/}}*/-->
							</div>
						</div>
					</div>
				</section>
			</div>
			<div class="staticHeader">
				<img class="staticHeader-logo" src="images/nem_logo.png" alt="NEM - New economy movement">
				<nav class="staticHeader-nav">
					<ul>
						<li class="staticHeader-nav-item">
							<a href="javascript:;" on-click="scrollTo:'#getting-started'">{{texts.landing.nav.start}}</a>
						</li>
						<li class="staticHeader-nav-item">
							<a href="javascript:;" on-click="scrollTo:'#landingAbout'">{{texts.landing.nav.about}}</a>
						</li>
						<li class="staticHeader-nav-item">
							<a href="javascript:;" on-click="openModal('settings')">{{texts.landing.nav.settings}}</a>
						</li>
						<li class="staticHeader-nav-item">
							<a href="javascript:;" on-click="toggleOn('landingLanguageDropdown')">
								{{#languages}}
									{{# .id === settings.language}}
										{{.name}}
									{{/}}
								{{/}}
								<span class="icon-down-open"></span>
							</a>
							<ul class="staticHeader-languageDropdown {{# active.landingLanguageDropdown && !landingPage.scrollHeader}}active{{/}}">
								{{#languages}}
									<li class="staticHeader-languageDropdown-item" on-click="switchLanguage:{{.id}}">{{.name}}</li>
								{{/}}
							</ul>
						</li>
					</ul>
				</nav>
			</div>
			<p class="landing-overlayContent-copyright">{{{texts.landing.main.copyright}}}</p>
		</div>
	</div>
	<div id="tipsCarousel">
		<div class="tipsCarousel-container container">
			<a href="javascript:;" class="tipsCarousel-button tipsCarousel-button--prev icon-left-dir buttons prev"></a>
			<div class="tipsCarousel-viewport viewport">
				{{#texts.landing.carousel}}
					<ul class="tipsCarousel-overview overview">
						{{#.items}}
							<li class="tipsCarousel-item">
								<article>
									<h1 class="tipsCarousel-title">{{.title}}</h1><br />
									<p class="tipsCarousel-description">{{{.description}}}</p>
								</article>
							</li>
						{{/}}
					</ul>
				{{/}}
			</div>
			<a href="javascript:;" class="tipsCarousel-button tipsCarousel-button--next icon-right-dir buttons next"></a>
		</div>
	</div>
	<section id="landingAbout">
		{{#texts.landing.about}}
			<div class="landingAbout-content">
				{{#.sections.0}}
					<section class="howNccWorks">
						<h1 class="landingAbout-title">{{.title}}</h1>
						<p class="landingAbout-line">{{{.paragraphs.0}}}</p>
						<ul class="landingAbout-block">
							<li class="landingAbout-line landingAbout-listItem">
								<span class="landingAbout-listItem-content">{{{.listItems.0}}}</span>
							</li>
							<li class="landingAbout-line landingAbout-listItem">
								<span class="landingAbout-listItem-content">{{{.listItems.1}}}</span>
							</li>
						</ul>
						<p class="landingAbout-line">{{{.paragraphs.1}}}</p>
						<p class="landingAbout-line">{{{.paragraphs.2}}}</p>
					</section>
				{{/}}
				{{#.sections.1}}
					<section class="whatIsNis">
						<h1 class="landingAbout-title">{{{.title}}}</h1>
						<p class="landingAbout-line">{{{.paragraphs.0}}}</p>
						<p class="landingAbout-line">{{{.paragraphs.1}}}.</p>
						<p class="landingAbout-line">{{{.paragraphs.2}}}</p>
						<br />
						<p class="landingAbout-line landingAbout-legend">{{{.legend}}}</p>
					</section>
				{{/}}
			</div>
		{{/}}
	</section>
</main>
<footer class="landing-footer">
	<div class="container">
		<div class="landing-footer-copyright">
			<p>{{{texts.landing.footer.copyright}}}</p>
		</div>
		<div class="landing-footer-social">
			<div class="vmiddle-container">
				<div class="landing-socialLinks vmiddle">
					<a href="https://plus.google.com/111473125648226690421/about" class="landing-socialLinks-icon">
                        <i class="icon-gplus-squared"></i>
                    </a>
					<a href="https://www.facebook.com/ourNEM" class="landing-socialLinks-icon">
                        <i class="icon-facebook-squared"></i>
                    </a>
					<a href="https://twitter.com/NEMofficial" class="landing-socialLinks-icon">
                        <i class="icon-twitter-squared"></i>
                    </a>
					<a href="http://www.reddit.com/r/ournem/" class="landing-socialLinks-icon">
                        <i class="icon-reddit-squared"></i>
                    </a>
                    <a href="https://github.com/NewEconomyMovement/" class="landing-socialLinks-icon">
                        <i class="icon-github-squared"></i>
                    </a>
				</div>
			</div>
		</div>
	</div>
</footer>
