{{! FIELD ICON }}
{{#if .confirmed}}
    <td class="txList-cell txList-col--type neutral icon-globe" title="{{texts.transactionDirections.mosaicCreation}}" on-mouseover="registerToolTip">{{#.isMultisig}}M{{/}}</td>
{{else}}
	<td class="txList-cell txList-col--type txList-col--type--pending icon-clock" title="{{texts.transactionDirections.pending}}" on-mouseover="registerToolTip">{{#.isMultisig}}M{{/}}</td>
{{/if}}

{{! FIELD DATE }}
<td class="txList-cell txList-col--date">{{.formattedDate}}</td>

{{! FIELD SENDER OR RECIPIENT }}
<td class="txList-cell txList-col--sender" title="{{.real.formattedSender}}" on-mouseover="registerToolTip">
    <a class="hyperlink--default" href="javascript:;" on-click="viewAccount(.real.sender)">
        {{#if privateLabels[.real.sender]}}
            {{privateLabels[.real.sender]}}
        {{else}}
            {{.real.formattedSender}}
        {{/if}}
    </a>
</td>

{{! FIELD MESSAGE }}
<td class="txList-cell txList-col--message" title="/{{.real.namespaceName}}/{{.real.mosaicName}}" on-mouseover="registerToolTip">
	{{.real.mosaicName}}
</td>

{{! FIELD AMOUNT }}
<td class="txList-cell txList-col--amount">
{{#if .isMultisig}}
	{{#if .requiresSignature}}
		<button type="button" class="transactionsTile-signMultisigButton icon-paper-plane-empty" disabled="{{nisUnavailable}}" on-click="openSignMultisig(.)">{{texts.dashboard.transactions.signMultisig}}</button>
	{{else}}
        <span style='font-style:italic;'>{{.cosignatoriesCount}}</span>
	{{/if}}
{{else}}
	<span class='dimmed'>n/a</span>
{{/if}}
</td>
