{{! FIELD ICON }}
{{#if .confirmed}}
    <td class="txList-cell txList-col--type neutral icon-fork" title="{{texts.transactionDirections.provision}}" on-mouseover="registerToolTip">{{#.isMultisig}}M{{/}}</td>
{{else}}
	<td class="txList-cell txList-col--type txList-col--type--pending icon-clock" title="{{texts.transactionDirections.pending}}" on-mouseover="registerToolTip">{{#.isMultisig}}M{{/}}</td>
{{/if}}

{{! FIELD DATE }}
<td class="txList-cell txList-col--date">{{.formattedDate}}</td>

{{! FIELD SENDER OR RECIPIENT }}
<td class="txList-cell txList-col--sender" title="{{.real.formattedSender}}" on-mouseover="registerToolTip">
    <a class="hyperlink--default" href="javascript:;" on-click="viewAccount(.real.lessor)">
        {{#if privateLabels[.real.lessor]}}
            {{privateLabels[.real.lessor]}}
        {{else}}
            {{.real.formattedLessor}}
        {{/if}}
    </a>
</td>

{{! FIELD MESSAGE }}
{{#if .isMultisig}}
<td class="txList-cell txList-col--message" title="{{.message}}" on-mouseover="registerToolTip">
	<span style='font-style:italic;'>{{.cosignatoriesCount}}</span>
</td>
{{else}}
<td class="txList-cell txList-col--message" title="{{.namespace}}" on-mouseover="registerToolTip">
	/{{.namespace}}
</td>
{{/if}}

{{! FIELD AMOUNT }}
<td class="txList-cell txList-col--amount">
{{#if .isMultisig}}
	{{#if .requiresSignature}}
		<button type="button" class="transactionsTile-signMultisigButton icon-paper-plane-empty" disabled="{{nisUnavailable}}" on-click="openSignMultisig(.)">{{texts.dashboard.transactions.signMultisig}}</button>
	{{else}}
		{{{multisig.formattedAmount}}}
	{{/if}}
{{else}}
	{{#.isSelf}}&plusmn;{{/}}
	{{#.isOutgoing}}-{{/}}
	{{#.isIncoming}}+{{/}}
	{{{formattedAmount}}}
{{/if}}
</td>
