{{#transaction}}
    {{#if .confirmed}}
    <tr>
        <td class="table-cell table-cell--label">{{texts.modals.multisig.minCosignatoriesLabel}}</td>
        <td class="table-cell table-cell--content">
            {{#if .type === TransactionType.Aggregate_Modification}}
            {{.minCosignatories.relativeChange}}
            {{else}}
            {{.inner.minCosignatories.relativeChange}}
            {{/if}}
            ({{texts.modals.multisig.minCosignatoriesRelativeLabel}})
        </td>
    </tr>
    {{else}}
    <tr>
        <td class="table-cell table-cell--label">{{texts.modals.multisig.minCosignatoriesLabel}}</td>
        <td class="table-cell table-cell--content">
            {{#if .type === TransactionType.Aggregate_Modification}}
            {{.minCosignatories.oldMin}} -> {{.minCosignatories.newMin}}
            {{else}}
            {{.inner.minCosignatories.oldMin}} -> {{.inner.minCosignatories.newMin}}
            {{/if}}
        </td>
    </tr>
    {{/if}}
    {{#each .modifications}}
    <tr>
        <td class="table-cell table-cell--label">{{texts.modals.transactionDetails.cosignatory}}
            {{.type}}
        </td>
        <td class="table-cell table-cell--content">
            <a class="hyperlink--default" href="javascript:;" on-click="viewAccount(.address)">
                {{#if privateLabels[.address]}}
                {{privateLabels[.address]}}
                {{else}}
                {{.address}}
                {{/if}}
            </a>
        </td>
    </tr>
    {{/each}}
{{/}}
