{{#transaction}}
    <tr>
        <td class="table-cell table-cell--label">
            {{texts.modals.transactionDetails.remote}}
        </td>
        <td class="table-cell table-cell--content">
            <a class="hyperlink--default" href="javascript:;" on-click="viewAccount(.real.remote)">
                {{#if privateLabels[.real.remote]}}
                {{privateLabels[.real.remote]}}
                {{else}}
                {{.real.formattedRemote}}
                {{/if}}
            </a>
        </td>
    </tr>
{{/}}
