<main class="start">
	<div class="container">
		<div class="logo">
			<img src="images/nem_logo.png" alt="NEM - New economy movement">
		</div>
		<div class="content">
			<h1 class="title">Welcome to <strong>NEM Community Client</strong></h1>
			<p><em>It can’t be easier to start a Community Client, just by clicking one button and let us take care the rest.</em></p>
		</div>
		<div class="buttons">
			<a href="http://bob.nem.ninja/webstart/nem-client.jnlp">
				<div class="launch-btn">
					<p class="title"><strong>Launch</strong> NCC</p>
					<p class="subtitle">This also launch <strong>NIS</strong> as required</p>
				</div>
			</a>
		</div>
	</div>
</main>
