<main class="start">
	<div class="container">
		<div class="logo">
			<img src="images/nem_logo.png" alt="NEM - New economy movement">
		</div>
		<div class="content">
			<h1 class="title"><strong>NEM Community Client</strong></h1>
		</div>
		<div class="buttons">
            <a href="http://forum.ournem.com">
				<div class="launch-btn">
					<p class="title">forum.ournem.com</p>
				</div>
			</a>

            <a href="http://ournem.com">
                <div class="launch-btn">
                    <p class="title">ournem.com</p>
                </div>
            </a>
		</div>
	</div>
</main>
