<main class="transactions-page">
	<div class="container">
		<section id="transactions-page">
			<div class="head">
				<h1>{{texts.transactions.title}}</h1>
				<button type="button" class="send-nem-btn icon-paper-plane" disabled="{{nisUnavailable}}" on-click="openSendNem">{{texts.transactions.sendNem}}</button>
				<div class="overview">
					<h1>{{texts.transactions.balance}}</h1>
					<p><span title="{{Math.floor(activeAccount.balance / 1000000)}} NEM {{activeAccount.balance % 1000000}} mNEM" on-mouseover="registerToolTip">{{{formatCurrency(activeAccount.balance, false)}}} <span class="unit">NEM</span></span></p>
				</div>
			</div>
			<div class="body">
				<div class="filter-bar">
					<ul class="filter">
						<li>
                            <input type="radio" class="hidden" id="rad-transaction-filter-all" name="{{transactions.filter}}" value="account/transactions/confirmed" checked />
                            <label for="rad-transaction-filter-all">{{texts.transactions.filters.confirmed}}</label>
						</li>
						<li>
                            <input type="radio" class="hidden" id="rad-transaction-filter-pending" name="{{transactions.filter}}" value="account/transactions/unconfirmed" />
                            <label for="rad-transaction-filter-pending">{{texts.transactions.filters.unconfirmed}}</label>
						</li>
						<li>
                            <input type="radio" class="hidden" id="rad-transaction-filter-incoming" name="{{transactions.filter}}" value="account/transactions/incoming" />
                            <label for="rad-transaction-filter-incoming">{{texts.transactions.filters.incoming}}</label>
						</li>
						<li>
                            <input type="radio" class="hidden" id="rad-transaction-filter-outgoing" name="{{transactions.filter}}" value="account/transactions/outgoing" />
							<label for="rad-transaction-filter-outgoing">{{texts.transactions.filters.outgoing}}</label>
						</li>
					</ul>
					<div class="search-area">
						<div class="search">
							<input type="text" />
							<button type="submit" id="search-btn" class="icon-magnifying-glass-reverse"></button>
						</div>
					</div>
				</div>
				<div class="list">
					<table class="txList">
						<thead>
							<tr>
								<th class="txList-header txList-col--type">{{texts.transactions.table.columns.0}}</th>
								<th class="txList-header txList-col--date">{{texts.transactions.table.columns.1}}</th>
								<th class="txList-header txList-col--sender">{{texts.transactions.table.columns.2}}</th>
								<th class="txList-header txList-col--message">{{texts.transactions.table.columns.3}}</th>
								<th class="txList-header txList-col--encrypted encryptedIcon">{{texts.transactions.table.columns.4}}</th>
								<th class="txList-header">{{texts.transactions.table.columns.5}}</th>
								<th class="txList-header txList-col--confirmations">{{texts.transactions.table.columns.6}}</th>
								<th class="txList-header txList-col--fee">{{texts.transactions.table.columns.7}} <span class="dimmed">(NEM)</span></th>
								<th class="txList-header txList-col--amount">{{texts.transactions.table.columns.8}} <span class="dimmed">(NEM)</span></th>
							</tr>
						</thead>
						<tbody>
							{{#transactions.filtered}}
								<tr>
                                    {{^.confirmed}}
                                        <td class="txList-cell txList-col--type txList-col--type--pending icon-clock" title="{{texts.transactions.table.types.pending}}" on-mouseover="registerToolTip"></td>
                                    {{/}}
                                    {{#.confirmed}}
                                        {{#.isSelf}}
                                            <td class="txList-cell txList-col--type icon-self" title="{{texts.transactions.table.types.self}}" on-mouseover="registerToolTip"></td>
                                        {{/}}
                                        {{#.isOutgoing}}
                                            <td class="txList-cell txList-col--type txList-col--type--outgoing icon-minus" title="{{texts.transactions.table.types.outgoing}}" on-mouseover="registerToolTip"></td>
                                        {{/}}
                                        {{#.isIncoming}}
                                            <td class="txList-cell txList-col--type txList-col--type--incoming icon-plus" title="{{texts.transactions.table.types.incoming}}" on-mouseover="registerToolTip"></td>
                                        {{/}}
                                    {{/}}
									<td class="txList-cell txList-col--date">{{.formattedDate}}</td>
                                    {{#.isSelf || .isOutgoing}}
                                        <td class="sender" title="{{formattedRecipient}}" on-mouseover="registerToolTip">{{.formattedRecipient}}</td>
                                    {{/}}
                                    {{#.isIncoming}}
                                        <td class="txList-cell txList-col--sender" title="{{formattedSender}}" on-mouseover="registerToolTip">{{.formattedSender}}</td>
                                    {{/}}
									<td class="txList-cell txList-col--message">
										{{#.message}}{{.message}}{{/}}
										{{^.message}}<span class="dimmed">{{texts.transactions.table.noMessage}}</span>{{/}}
									</td>
									<td class="txList-cell txList-col--encrypted encryptedIcon">
										{{#.encrypted}}
											<span class="icon-lock" title="{{texts.transactions.table.encrypted}}" on-mouseover="registerToolTip"></span>
										{{/}}
									</td>
									<td class="txList-cell txList-col--details" on-click="viewTransaction:{{.}}">{{texts.transactions.table.view}}</td>
									<td class="txList-cell txList-col--confirmations">
										{{^.confirmed}}{{texts.transactions.table.pending}}{{/}}
										{{#.confirmed}}{{.confirmations}}{{/}}
									</td>
                                    <td class="txList-cell txList-col--fee">{{#.isOutgoing || .isSelf}}-{{/}}{{{formattedFee}}}</td>
                                    <td class="txList-cell txList-col--amount">
	                                    {{#.isSelf}}&plusmn;{{/}}<!--
	                                    -->{{#.isOutgoing}}-{{/}}<!--
	                                    -->{{#.isIncoming}}+{{/}}<!--
	                                    -->{{{formattedAmount}}}
                                    </td>
								</tr>
							{{/}}
						</tbody>
					</table>
					{{^transactions.filtered}}
						<p class="txList-noRecords">{{texts.transactions.table.noTransactions}}</p>
					{{/}}
					<div class="pager">
						{{#status.loadingOlderTransactions}}
							<span type="buttton" class="loading">{{texts.transactions.table.loading}}</span>
						{{/}}
					</div>
				</div>
			</div>
		</section>
	</div>
</main>