<header id="wallet-page-header">
	<div class="sidebar-head">
		<div class="logo vmiddle-container">
			<h1 on-click="closeWallet" class="vmiddle"><img src="{{texts.wallet.logo}}" alt="NEM - New Economy Movement" /></h1>
		</div>
		<div class="nav-toggler vmiddle-container">
			<div class="vmiddle">
				<button type="button" class="icon-menu" on-click="toggleSidebar"></button>
			</div>
		</div>
	</div>
	<div class="header-main">
		<div class="container">
			<div class="search-area vmiddle-container">
				<div class="vmiddle">
					<div class="search-wrapper">
						<button type="submit" id="search-btn" class="icon-magnifying-glass"></button>
						<input type="text" />
					</div>
				</div>
			</div>
			<div class="temp-message vmiddle-container {{#tempMessage.visible}}in{{/}}">
				<div class="vmiddle">
					<p><em>{{tempMessage.message}}</em></p>
				</div>
			</div>
			<div class="wallet-area vmiddle-container">
				<div class="vmiddle">
					<!--/*<div class="noti-area">
						<a href="javascript:;" class="noti-box">4</a>
						<div class="notifications">
							<div class="scrollable">
								<ul>
									<li>
										<article class="unread notification">
											<a href="something">
												<div class="image">
													<img src="assets/ava_1.png">
												</div>
												<div class="message">
													<p>@Johny <span class="surname">Nguyen</span></p>
													<p class="content">Hello! Are you ok?</p>
												</div>
												<div class="time">
													<span>11:14 PM</span>
												</div>
											</a>
										</article>
									</li>
								</ul>
							</div>
						</div>
					</div>*/-->
					<div class="wallet-info">
						<p><a href="javascript:;" class="wallet-name">{{wallet.name}}</a></p>
						<p><span class="last-access" title="{{fill(texts.wallet.lastAccessTooltip, wallet.lastRefreshDate)}}" on-mouseover="registerToolTip">{{#wallet.daysPassed}}
							{{#.roundedDays}}
								{{fill(texts.wallet.lastAccess, .roundedDays)}}
							{{/}}
							{{#.roundedDays === 0}}
								{{texts.wallet.lastAccessJustNow}}
							{{/}}
						{{/}}</span></p>
					</div>
					<a href="javascript:;"><img class="wallet-ava" src="images/default-avatar.png" alt="{{wallet.name}}" /></a>
					<div class="setting">
						<a href="javascript:;" class="button icon-arrow-down-medium" on-click="toggleOn:walletActions"></a>
						<ul class="dropdownMenu {{^active.walletActions}}hidden{{/}}" id="walletActions">
							<li class="dropdownMenu-item" on-click="changeWalletName">
								{{texts.wallet.actions.changeWalletName}}
							</li>
							<li class="dropdownMenu-item" on-click="changeWalletPassword">
								{{texts.wallet.actions.changeWalletPassword}}
							</li>
							<li class="dropdownMenu-item disabled">
								{{texts.wallet.actions.mergeWallets}}
							</li>
							<li class="dropdownMenu-item disabled separator">
								{{texts.wallet.actions.exportWallet}}
							</li>
							<li class="dropdownMenu-item" on-click="refreshInfo">
								{{texts.wallet.actions.refreshInfo}}
							</li>
							<li class="dropdownMenu-item {{#status.nisUnavailable}}disabled{{/}}" on-click="bootLocalNode">
								{{texts.wallet.actions.bootLocalNode}}
							</li>
							<li class="dropdownMenu-item" on-click="showClientInfo">
								{{texts.wallet.actions.clientInfo}}
							</li>
							<li class="dropdownMenu-item" on-click="closeWallet">
								{{texts.wallet.actions.closeWallet}}
							</li>
							<li class="dropdownMenu-item" on-click="shutdown">
								{{texts.wallet.actions.closeProgram}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<div id="wallet-page-main-content" class="{{#active.fullSidebar === true}}full-sidebar{{/}} {{#active.fullSidebar === false}}mini-sidebar{{/}} {{#status.sidebarScrollable}}sidebar-scrollable{{/}}">
	<div id="wallet-page-sidebar">
		<div>
			<div class="active account {{#active.accountSelect}}selecting{{/}}">
				<div class="account-info" on-click="toggleOn:accountSelect">
					{{#activeAccount}}
						<p>
							<span class="account-id full" id="activeAccountAddress">{{.formattedAddress}}</span>
							{{#.address === wallet.primaryAccount.address}}
								<span class="primary">
									<span class="full">{{texts.wallet.primary}}</span>
									<span class="mini">{{texts.wallet.primaryShort}}</span>
								</span>
							{{/}}
						</p>
						<p class="label {{^.label}}blank{{/}} full">{{.label ? .label : texts.wallet.noLabel}}</p>
					{{/}}
				</div>
				<button class="account-actions full {{#active.accountActions}}active{{/}}" on-click="toggleOn:accountActions">
					<span class="gear icon-gear"></span>
					<span class="arrow icon-arrow-down-medium"></span>
				</button>
				<ul class="dropdownMenu {{^active.accountActions}}hidden{{/}}">
					<li class="dropdownMenu-item" id="addressClipboard" data-clipboard-target="activeAccountAddress">
						{{texts.wallet.actions.copyClipboard}}
					</li>
					<li class="dropdownMenu-item" on-click="createNewAccount">
						{{texts.wallet.actions.createAccount}}
					</li>
					<li class="dropdownMenu-item" on-click="addAccount">
						{{texts.wallet.actions.addAccount}}
					</li>
					<li class="dropdownMenu-item" on-click="changeAccountLabel">
						{{texts.wallet.actions.changeAccountLabel}}
					</li>
					<li class="dropdownMenu-item {{#activeAccount.address === wallet.primaryAccount.address}}disabled{{/}}" on-click="setCurrentAccountAsPrimary">
						{{texts.wallet.actions.setPrimary}}
					</li>
					<li class="dropdownMenu-item" on-click="removeAccount">
						{{texts.wallet.actions.removeAccount}}
					</li>
				</ul>
			</div>
			<div class="account-select scrollable {{^active.accountSelect}}hidden{{/}} full" id="accountSelect">
				<ul>
					{{#allAccounts}}
						<li class="account" on-click="switchAccount:{{.address}}">
							<div class="account-info">
								<p class="account-id">
									{{.formattedAddress}}
								</p>
								<p class="label {{^.label}}blank{{/}}">
									{{.label ? .label : texts.wallet.noLabel}}
									{{#.address === wallet.primaryAccount.address}}
										<span class="primary">{{texts.wallet.primary}}</span>
									{{/}}
								</p>
							</div>
						</li>
					{{/}}
				</ul>
			</div>
		</div>
		<nav>
			<ul>
				<li class="{{#layout.1.name === 'dashboard'}}active{{/}}"><a href="javascript:;" on-click="redirect:'dashboard', {{params}}">
					<span class="item-title icon-home"><span class="full">{{texts.wallet.nav.0}}</span></span>
				</a></li>
				<li class="disabled {{#layout.1.name === 'messages'}}active{{/}}"><a href="javascript:;" on-click="redirect:'messages', {{params}}">
					<span class="item-title icon-envelope"><span class="full">{{texts.wallet.nav.1}}</span></span>
					<!--/*</span><span class="noti-box messages">4</span>*/-->
				</a></li>
				<li class="disabled {{#layout.1.name === 'contacts'}}active{{/}}"><a href="javascript:;" on-click="redirect:'contacts', {{params}}">
					<span class="item-title icon-users"><span class="full">{{texts.wallet.nav.2}}</span></span>
				</a></li>
				<li class="{{#layout.1.name === 'transactions'}}active{{/}}"><a href="javascript:;" on-click="redirect:'transactions', {{params}}">
					<span class="item-title icon-transaction"><span class="full">{{texts.wallet.nav.3}}</span></span>
					<!--/*</span><span class="noti-box transactions">2</span>*/-->
				</a></li>
				<li class="{{#layout.1.name === 'harvested-blocks'}}active{{/}}"><a href="javascript:;" on-click="redirect:'harvested-blocks', {{params}}">
					<span class="item-title icon-harvest"><span class="full">{{texts.wallet.nav.4}}</span></span>
					<!--/*</span><span class="noti-box transactions">2</span>*/-->
				</a></li>
				<li class="disabled {{#layout.1.name === 'assetExchange'}}active{{/}}"><a href="javascript:;" on-click="redirect:'assetExchange', {{params}}">
					<span class="item-title icon-portfolio"><span class="full">{{texts.wallet.nav.5}}</span></span>
				</a></li>
				<li class="disabled {{#layout.1.name === 'news'}}active{{/}}"><a href="javascript:;" on-click="redirect:'news', {{params}}">
					<span class="item-title icon-sound"><span class="full">{{texts.wallet.nav.6}}</span></span>
					<!--/*</span><span class="noti-box news">6</span>*/-->
				</a></li>
				<li class="disabled {{#layout.1.name === 'applications'}}active{{/}}"><a href="javascript:;" on-click="redirect:'applications', {{params}}">
					<span class="item-title icon-grid-alt"><span class="full">{{texts.wallet.nav.7}}</span></span>
				</a></li>
				<li class="disabled {{#layout.1.name === 'accounts'}}active{{/}}"><a href="javascript:;" on-click="redirect:'accounts', {{params}}">
					<span class="item-title icon-user"><span class="full">{{texts.wallet.nav.8}}</span></span>
				</a></li>
				<li class="{{#layout.1.name === 'settings'}}active{{/}}"><a href="javascript:;" on-click="redirect:'settings', {{params}}">
					<span class="item-title icon-gear"><span class="full">{{texts.wallet.nav.9}}</span></span>
				</a></li>
				<li><a href="javascript:;" on-click="shutdown">
					<span class="item-title icon-close"><span class="full">{{texts.wallet.nav.10}}</span></span>
				</a></li>
			</ul>
		</nav>
	</div>
	{{#layout.1.name}}{{>1}}{{/}}
</div>
<sendNemModal modalClass="sendNem" modalTitle="{{texts.modals.sendNem.title}}" texts="{{texts}}" fill="{{fill}}">
	<div class="form-control amount">
		<input type="text" placeholder="{{texts.modals.sendNem.amount}}" value="{{amount}}" on-keypress="sendFormKeypress" /><span class="unit">NEM</span>
	</div>
	<input type="text" placeholder="{{texts.modals.sendNem.recipient}}" class="recipient form-control" on-keypress="sendFormKeypress" data-mask="AAAAAA-AAAAAA-AAAAAA-AAAAAA-AAAAAA-AAAAAA-AAAA" />
	<p class="recipient-label">
		{{#recipientLabel}}
			{{{fill(texts.modals.sendNem.labelDesc, recipientLabel)}}}
		{{/}}
		{{#recipientLabel === ''}}
			{{texts.modals.sendNem.nullLabelDesc}}
		{{/}}
	</p>
	<textarea placeholder="{{texts.modals.sendNem.message}}" class="form-control" value="{{message}}"></textarea>
	<div class="encrypt">
		<input type="checkbox" checked="{{encrypted}}" id="chk-encrypt-message" />
		<label for="chk-encrypt-message">{{texts.modals.sendNem.encrypt}}</label>
	</div>
	<div class="row">
		<div class="form-control fee">
			<label>{{texts.modals.sendNem.fee}}</label><span class="unit">NEM</span><input value="{{fee}}" on-keypress="sendFormKeypress" />
		</div>
		<div class="form-control due-by">
			<label>{{texts.modals.sendNem.dueBy}}</label><span class="unit">{{texts.modals.sendNem.hours}}</span><input value="{{dueBy}}" min="0" on-keypress="sendFormKeypress" />
		</div>
	</div>
	<a href="javascript:;" class="set-fee" on-click="resetFee">{{texts.modals.sendNem.resetFee}}</a>
	<input type="password" placeholder="{{texts.modals.sendNem.password}}" class="form-control" value="{{password}}" on-keypress="sendFormKeypress" />
	<div class="submit">
		<button type="button" class="modal-button {{#processing}}disabled{{/}}" on-click="sendTransaction">
			{{^processing}}
				{{texts.modals.sendNem.send}}
			{{/}}
			{{#processing}}
				{{texts.modals.sendNem.sending}}
			{{/}}
		</button>
	</div>
</sendNemModal>
<clientInfoModal modalClass="clientInfo wide" modalTitle="{{texts.modals.clientInfo.title}}" closeOnEnter="true" texts="{{texts}}" ncc="{{ncc}}" nis="{{nis}}">
	<div class="logo">
		<img src="images/nem_logo.png" alt="NEM - New Economy Movement">
	</div>
	<div class="info">
		<div class="ncc-info">
			<div class="block">
				<p><strong>{{texts.modals.clientInfo.ncc}}</strong></p>
				{{#loadingNcc}}
					<p>{{texts.modals.clientInfo.loading}}</p>
				{{/}}
				<p>{{ncc.metaData.version}}</p>
			</div>
			{{^loadingNcc}}
				<div class="block">
					<p><strong>{{texts.modals.clientInfo.signer}}</strong> {{ncc.metaData.signer || 'N/A'}}</p>
				</div>
				<div class="block">
					<p><strong>{{texts.modals.clientInfo.remoteServer}}</strong> {{ncc.remoteServer || texts.modals.clientInfo.local}}</p>
				</div>
			{{/}}
		</div>
		<div class="nis-info">
			<div class="block">
				<p><strong>{{texts.modals.clientInfo.nis}}</strong></p>
				{{#loadingNis}}
					<p>{{texts.modals.clientInfo.loading}}</p>
				{{/}}
				<p>{{nis.nodeInfo.nisInfo.version}}</p>
			</div>
			{{^loadingNis}}
				<div class="block">
					<p><strong>{{texts.modals.clientInfo.signer}}</strong> {{nis.nodeInfo.nisInfo.signer || 'N/A'}}</p>
				</div>
				<div class="block">
					<p>
						<strong>
							{{#nis.nodeMetaData.maxBlockChainHeight !== -1}}
								{{#nis.nodeMetaData.nodeBlockChainHeight === nis.nodeMetaData.maxBlockChainHeight}}
									{{texts.modals.clientInfo.sync}}
								{{/}}
								{{#nis.nodeMetaData.nodeBlockChainHeight !== nis.nodeMetaData.maxBlockChainHeight}}
									{{texts.modals.clientInfo.notSync}}
								{{/}}
							{{/}}
							{{#nis.nodeMetaData.maxBlockChainHeight === -1}}
								{{texts.modals.clientInfo.notConnected}}
							{{/}}
						</strong>
					</p>
				</div>
			{{/}}
		</div>
	</div>
</clientInfoModal>
<transactionDetailsModal modalClass="transaction-details wide" modalTitle="{{texts.modals.transactionDetails.title}}" closeOnEnter="true" on-registerToolTip="registerToolTip" texts="{{texts}}">
	{{#transaction}}
		<table>
			<tr>
				<td class="title">{{texts.modals.transactionDetails.id}}</td>
				<td class="value">{{.id}}</td>
			</tr>
            <tr>
                <td class="title">{{texts.modals.transactionDetails.hash}}</td>
                <td class="value">{{.hash}}</td>
            </tr>
			<tr>
				<td class="title">{{texts.modals.transactionDetails.type}}</td>
				<td class="value">{{.isPending? texts.modals.transactionDetails.pending : (.isSelf? texts.modals.transactionDetails.self : (.isOutgoing? texts.modals.transactionDetails.outgoing : texts.modals.transactionDetails.incoming))}}</td>
			</tr>
			<tr>
				<td class="title">{{texts.modals.transactionDetails.sender}}</td>
				<td class="value">{{formattedSender}}</td>
			</tr>
			<tr>
				<td class="title">{{texts.modals.transactionDetails.recipient}}</td>
				<td class="value">{{formattedRecipient}}</td>
			</tr>
			<tr>
				<td class="title">{{texts.modals.transactionDetails.message}}</td>
				<td class="value">
					{{.message}}{{^.message}}<span class="dimmed">{{texts.modals.transactionDetails.type}}</span>{{/}}
					{{#.encrypted}}
						&nbsp;<span class="icon-lock encrypted" title="{{texts.modals.transactionDetails.encrypted}}" on-mouseover="registerToolTip"></span>
					{{/}}
				</td>
			</tr>
			<tr>
				<td class="title">{{texts.modals.transactionDetails.time}}</td>
				<td class="value">{{formattedDate}}</td>
			</tr>
			<tr>
				<td class="title">{{texts.modals.transactionDetails.confirmations}}</td>
				<td class="value">{{.confirmations}}</td>
			</tr>
			<tr>
				<td class="title">{{texts.modals.transactionDetails.amount}}</td>
				<td class="value">{{{formatCurrency(.amount, false)}}} NEM</td>
			</tr>
			<tr>
				<td class="title">{{texts.modals.transactionDetails.fee}}</td>
				<td class="value">{{{formatCurrency(.fee, false)}}} NEM</td>
			</tr>
		</table>
	{{/}}
</transactionDetailsModal>