<header class="walletHeader">
	<div class="sidebar-head">
		<div class="sidebar-logo vmiddle-container">
			<h1 on-click="closeWallet" class="vmiddle"><img src="{{texts.wallet.logo}}" alt="NEM - New Economy Movement" /></h1>
		</div>
		<div class="navToggler vmiddle-container">
			<div class="vmiddle">
				<button type="button" class="icon-menu" on-click="toggleSidebar"></button>
			</div>
		</div>
	</div>
	<div class="walletHeader-body">
		<div class="container">
			<div class="walletHeader-search-wrapper vmiddle-container">
				<div class="vmiddle">
					<div class="walletHeader-search">
						<button type="submit" class="walletHeader-searchButton icon-magnifying-glass"></button>
						<input type="text" />
					</div>
				</div>
			</div>
			<div class="tempMessage vmiddle-container {{#tempMessage.visible}}tempMessage--shown{{/}}">
				<div class="vmiddle">
					<p class="tempMessage-body">{{tempMessage.message}}</p>
				</div>
			</div>
			<div class="walletBox vmiddle-container">
				<div class="vmiddle">
					<!--/*<div class="noti-area">
						<a href="javascript:;" class="noti-box">4</a>
						<div class="notifications">
							<div class="scrollable">
								<ul>
									<li>
										<article class="unread notification">
											<a href="something">
												<div class="image">
													<img src="assets/ava_1.png">
												</div>
												<div class="message">
													<p>@Johny <span class="surname">Nguyen</span></p>
													<p class="content">Hello! Are you ok?</p>
												</div>
												<div class="time">
													<span>11:14 PM</span>
												</div>
											</a>
										</article>
									</li>
								</ul>
							</div>
						</div>
					</div>*/-->
					<div class="walletBox-walletInfo">
						<p><a href="javascript:;" class="walletBox-walletName">{{wallet.name}}</a></p>
						<p><span class="walletBox-lastAccess" title="{{fill(texts.wallet.lastAccessTooltip, wallet.lastRefreshDate)}}" on-mouseover="registerToolTip">{{#wallet.daysPassed}}
							{{#.roundedDays}}
								{{fill(texts.wallet.lastAccess, .roundedDays)}}
							{{/}}
							{{#.roundedDays === 0}}
								{{texts.wallet.lastAccessJustNow}}
							{{/}}
						{{/}}</span></p>
					</div>
					<img class="walletBox-avatar" src="images/default-avatar.png" alt="{{wallet.name}}" />
					<div class="walletBox-menu">
						<a href="javascript:;" class="walletBox-menu-button icon-arrow-down-medium" on-click="toggleOn('walletActions')"></a>
						<ul class="walletBox-menu-dropdown dropdownMenu {{^active.walletActions}}hidden{{/}}" id="walletActions">
							<li class="dropdownMenu-item" on-click="changeWalletName">
								{{texts.wallet.actions.changeWalletName}}
							</li>
							<li class="dropdownMenu-item" on-click="changeWalletPassword">
								{{texts.wallet.actions.changeWalletPassword}}
							</li>
							<li class="dropdownMenu-item disabled">
								{{texts.wallet.actions.mergeWallets}}
							</li>
							<li class="dropdownMenu-item disabled">
								{{texts.wallet.actions.exportWallet}}
							</li>
							<li class="dropdownMenu-item {{^enableManualBoot}}disabled{{/}} dropdownMenu-item--separator" on-click="bootLocalNode">
								{{texts.wallet.actions.bootLocalNode}}
							</li>
							<li class="dropdownMenu-item" on-click="refreshInfo">
								{{texts.wallet.actions.refreshInfo}}
							</li>
							<li class="dropdownMenu-item" on-click="showClientInfo">
								{{texts.wallet.actions.clientInfo}}
							</li>
							<li class="dropdownMenu-item" on-click="closeWallet">
								{{texts.wallet.actions.closeWallet}}
							</li>
							<li class="dropdownMenu-item" on-click="shutdown">
								{{texts.wallet.actions.closeProgram}}
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
<div class="wallet-main {{#walletPage.miniSidebar === false}}fullSidebar{{/}} {{#walletPage.miniSidebar === true}}miniSidebar{{/}} {{#walletPage.sidebarScrollable}}sidebarScrollable{{/}}">
	<div class="sidebar">
		<div>
			<div class="account account--active {{#active.accountSelect}}account--selecting{{/}}">
				<div class="account-info" on-click="toggleOn('accountSelect')">
					{{#activeAccount}}
						<p class="account-info-line">
							<span class="account-id fullSidebarOnly" id="activeAccountAddress">{{.formattedAddress}}</span>
							{{#.address === wallet.primaryAccount.address}}
								<span class="account-primary">
									<span class="fullSidebarOnly">{{texts.wallet.primary}}</span>
									<span class="miniSidebarOnly">{{texts.wallet.primaryShort}}</span>
								</span>
							{{/}}
						</p>
						<p class="account-info-line account-label {{^.label}}account-label--blank{{/}} fullSidebarOnly">{{.label ? .label : texts.wallet.noLabel}}</p>
					{{/}}
				</div>
				<button class="account-actionsButton {{#active.accountActions}}active{{/}}" on-click="toggleOn('accountActions')">
					<span class="account-actionsButton--gear icon-gear"></span>
					<span class="account-actionsButton--arrow icon-arrow-down-medium"></span>
				</button>
				<ul class="account-actionsDropdown dropdownMenu {{^active.accountActions}}hidden{{/}}">
					<li class="dropdownMenu-item" id="addressClipboard" data-clipboard-target="activeAccountAddress">
						{{texts.wallet.actions.copyClipboard}}
					</li>
					<li class="dropdownMenu-item" on-click="createNewAccount">
						{{texts.wallet.actions.createAccount}}
					</li>
					<li class="dropdownMenu-item" on-click="createRealAccountData">
						{{texts.wallet.actions.createRealAccountData}}
					</li>
					<li class="dropdownMenu-item" on-click="verifyRealAccountData">
						{{texts.wallet.actions.verifyRealAccountData}}
					</li>
					<li class="dropdownMenu-item" on-click="addAccount">
						{{texts.wallet.actions.addAccount}}
					</li>
					<li class="dropdownMenu-item" on-click="changeAccountLabel">
						{{texts.wallet.actions.changeAccountLabel}}
					</li>
					<li class="dropdownMenu-item {{#activeAccount.address === wallet.primaryAccount.address}}disabled{{/}}" on-click="setCurrentAccountAsPrimary">
						{{texts.wallet.actions.setPrimary}}
					</li>
					<li class="dropdownMenu-item" on-click="removeAccount">
						{{texts.wallet.actions.removeAccount}}
					</li>
				</ul>
			</div>
			<div class="account-select scrollable {{^active.accountSelect}}hidden{{/}}" id="accountSelect">
				<ul>
					{{#allAccounts}}
						<li class="account account--others" on-click="switchAccount:{{.address}}">
							<div class="account-info">
								<p class="account-id account-info-line">
									{{.formattedAddress}}
								</p>
								<p class="account-info-line account-label {{^.label}}account-label--blank{{/}}">
									{{.label ? .label : texts.wallet.noLabel}}
									{{#.address === wallet.primaryAccount.address}}
										<span class="account-primary">{{texts.wallet.primary}}</span>
									{{/}}
								</p>
							</div>
						</li>
					{{/}}
				</ul>
			</div>
		</div>
		<nav class="sidebar-nav" on-load="registerScrollableSidebar">
			<ul>
				<li class="sidebar-nav-item {{#layout.1.name === 'dashboard'}}active{{/}}"><a href="javascript:;" on-click="redirect:'dashboard', {{params}}">
					<span class="sidebar-nav-item-title icon-home"><span class="fullSidebarOnly">{{texts.wallet.nav.0}}</span></span>
				</a></li>
				<li class="sidebar-nav-item disabled {{#layout.1.name === 'messages'}}active{{/}}"><a href="javascript:;" on-click="redirect:'messages', {{params}}">
					<span class="sidebar-nav-item-title icon-envelope"><span class="fullSidebarOnly">{{texts.wallet.nav.1}}</span></span>
					<!--/*</span><span class="noti-box messages">4</span>*/-->
				</a></li>
				<li class="sidebar-nav-item disabled {{#layout.1.name === 'contacts'}}active{{/}}"><a href="javascript:;" on-click="redirect:'contacts', {{params}}">
					<span class="sidebar-nav-item-title icon-users"><span class="fullSidebarOnly">{{texts.wallet.nav.2}}</span></span>
				</a></li>
				<li class="sidebar-nav-item {{#layout.1.name === 'transactions'}}active{{/}}"><a href="javascript:;" on-click="redirect:'transactions', {{params}}">
					<span class="sidebar-nav-item-title icon-transaction"><span class="fullSidebarOnly">{{texts.wallet.nav.3}}</span></span>
					<!--/*</span><span class="noti-box transactions">2</span>*/-->
				</a></li>
				<li class="sidebar-nav-item {{#layout.1.name === 'harvested-blocks'}}active{{/}}"><a href="javascript:;" on-click="redirect:'harvested-blocks', {{params}}">
					<span class="sidebar-nav-item-title icon-harvest"><span class="fullSidebarOnly">{{texts.wallet.nav.4}}</span></span>
					<!--/*</span><span class="noti-box transactions">2</span>*/-->
				</a></li>
				<li class="sidebar-nav-item disabled {{#layout.1.name === 'assetExchange'}}active{{/}}"><a href="javascript:;" on-click="redirect:'assetExchange', {{params}}">
					<span class="sidebar-nav-item-title icon-portfolio"><span class="fullSidebarOnly">{{texts.wallet.nav.5}}</span></span>
				</a></li>
				<li class="sidebar-nav-item disabled {{#layout.1.name === 'news'}}active{{/}}"><a href="javascript:;" on-click="redirect:'news', {{params}}">
					<span class="sidebar-nav-item-title icon-sound"><span class="fullSidebarOnly">{{texts.wallet.nav.6}}</span></span>
					<!--/*</span><span class="noti-box news">6</span>*/-->
				</a></li>
				<li class="sidebar-nav-item disabled {{#layout.1.name === 'applications'}}active{{/}}"><a href="javascript:;" on-click="redirect:'applications', {{params}}">
					<span class="sidebar-nav-item-title icon-grid-alt"><span class="fullSidebarOnly">{{texts.wallet.nav.7}}</span></span>
				</a></li>
				<li class="sidebar-nav-item disabled {{#layout.1.name === 'accounts'}}active{{/}}"><a href="javascript:;" on-click="redirect:'accounts', {{params}}">
					<span class="sidebar-nav-item-title icon-user"><span class="fullSidebarOnly">{{texts.wallet.nav.8}}</span></span>
				</a></li>
				<li class="sidebar-nav-item {{#layout.1.name === 'settings'}}active{{/}}"><a href="javascript:;" on-click="openModal:settings">
					<span class="sidebar-nav-item-title icon-gear"><span class="fullSidebarOnly">{{texts.wallet.nav.9}}</span></span>
				</a></li>
				<li class="sidebar-nav-item"><a href="javascript:;" on-click="shutdown">
					<span class="sidebar-nav-item-title icon-close"><span class="fullSidebarOnly">{{texts.wallet.nav.10}}</span></span>
				</a></li>
			</ul>
		</nav>
	</div>
	{{#layout.1.name}}{{>1}}{{/}}
</div>
<sendNemModal modalClass="sendNemModal" modalTitle="{{texts.modals.sendNem.title}}" texts="{{texts}}" fill="{{fill}}">
	<div class="sendNem-control sendNem-control--amount sendNem-row sendNem-block">
		<span class="sendNem-control-unit unit">NEM</span>
		<div class="restOfWidth">
			<input class="sendNem-textbox js-sendNem-amount-textbox" type="text" placeholder="{{texts.modals.sendNem.amount}}" value="{{formattedAmount}}" on-keypress="sendFormKeypress" />
		</div>
	</div>
	<div class="sendNem-block">
		<input class="sendNem-control sendNem-textbox sendNem-textbox--recipient js-sendNem-recipient-textbox" type="text" placeholder="{{texts.modals.sendNem.recipient}}" on-keypress="sendFormKeypress" value="{{formattedRecipient}}" />
		<p class="sendNem-recipientLabel">
			{{#recipientLabel}}
				{{{fill(true, texts.modals.sendNem.labelDesc, '<strong>' + recipientLabel + '</strong>')}}}
			{{/}}
			{{#recipientLabel === ''}}
				{{texts.modals.sendNem.nullLabelDesc}}
			{{/}}
		</p>
	</div>
	<div class="sendNem-block">
		<textarea placeholder="{{texts.modals.sendNem.message}}" class="sendNem-control sendNem-textbox sendNem-textbox--message" value="{{rawMessage}}" maxlength="256"></textarea>
		<input class="sendNem-checkbox" type="checkbox" checked="{{encrypted}}" id="chk-encrypt-message" disabled="{{!encryptionPossible}}" />
		<label for="chk-encrypt-message">{{texts.modals.sendNem.encrypt}}</label>
	</div>
	<div class="sendNem-block">
		<div class="sendNem-row sendNem-row--fee">
			<div class="sendNem-control sendNem-control--fee sendNem-control--half">
				<label class="sendNem-label">{{texts.modals.sendNem.fee}}</label>
				<div class="restOfWidth">
					<span class="sendNem-control-unit unit">NEM</span>
					<div class="restOfWidth">
						<input class="sendNem-textbox sendNem-textbox--fee js-sendNem-fee-textbox" value="{{formattedFee}}" on-keypress="sendFormKeypress" disabled="{{useMinimumFee}}" />
					</div>
				</div>
			</div>
			<div class="sendNem-control sendNem-control--dueBy sendNem-control--half">
				<label class="sendNem-label">{{texts.modals.sendNem.dueBy}}</label>
				<div class="restOfWidth">
					<span class="sendNem-control-unit unit">{{texts.modals.sendNem.hours}}</span>
					<div class="restOfWidth">
						<input class="sendNem-textbox sendNem-textbox--dueBy js-sendNem-dueBy-textbox" value="{{dueBy}}" min="0" on-keypress="sendFormKeypress" />
					</div>
				</div>
			</div>
		</div>
		<input class="useMinimumFee-checkbox" type="checkbox" checked="{{useMinimumFee}}" id="chk-useMinimumFee" />
		<label for="chk-useMinimumFee">
			{{texts.modals.sendNem.useMinimumFee}}
			{{#if !useMinimumFee}}
				({{formattedMinimumFee}} NEM)
			{{/if}}
		</label>
	</div>
	<input class="sendNem-control sendNem-textbox sendNem-block" type="password" placeholder="{{texts.modals.sendNem.password}}" value="{{password}}" on-keypress="sendFormKeypress" />
	<div class="sendNem-submit sendNem-block">
		<button type="button" class="sendNem-submit-button modal-button" on-click="sendTransaction()">
			{{texts.modals.sendNem.send}}
		</button>
	</div>
</sendNemModal>
<transactionConfirmModal modalClass="txConfirmModal modal--wide" modalTitle="{{texts.modals.sendNem.txConfirm.title}}" texts="{{texts}}" on-registerToolTip="registerToolTip">
	<div class="txConfirm-txInfo">
		<div class="txConfirm-line">
			<span class="txConfirm-label">{{texts.modals.sendNem.txConfirm.amount}}</span>
			<span class="txConfirm-value"><span class="txConfirm-amount">{{txData.formattedAmount}} NEM</span></span>
		</div>
		<div class="txConfirm-line">
			<span class="txConfirm-label">{{texts.modals.sendNem.txConfirm.to}}</span>
			<span class="txConfirm-value">
				<span class="txConfirm-recipient">{{txData.formattedRecipient}}</span>
				{{#txData.recipientLabel}}
					(<span class="txConfirm-recipientLabel">{{txData.recipientLabel}}</span>)
				{{/}}
			</span>
		</div>
		<div class="txConfirm-line">
			<span class="txConfirm-label">{{texts.modals.sendNem.txConfirm.fee}}</span>
			<span class="txConfirm-value"><span class="txConfirm-fee">{{txData.formattedFee}} NEM</span></span>
		</div>
		<div class="txConfirm-line">
			<span class="txConfirm-label">{{texts.modals.sendNem.txConfirm.dueBy}}</span>
			<span class="txConfirm-value">{{txData.dueBy}} {{texts.modals.sendNem.txConfirm.hours}}</span>
		</div>
		<div class="txConfirm-line">
			<span class="txConfirm-label"><span class="txConfirm-totalLabel">{{texts.modals.sendNem.txConfirm.total}}</span></span>
			<span class="txConfirm-value"><span class="txConfirm-total">{{formattedTotal}} NEM</span></span>
		</div>
		<div class="txConfirm-line">
			<span class="txConfirm-label"><span class="txConfirm-messageLabel">{{texts.modals.sendNem.txConfirm.message}}</span></span>
			<span class="txConfirm-value">
				{{txData.rawMessage}}
				{{#txData.encrypted}}
					&nbsp;<span class="icon-lock encryptedIcon" title="{{texts.modals.sendNem.txConfirm.encrypted}}" on-mouseover="registerToolTip"></span>
				{{/}}
			</span>
		</div>
	</div>
	<div class="txConfirm-actions">
		<button type="button" class="modal-button modal-button--secondary" on-click="closeModal()">{{texts.modals.sendNem.txConfirm.cancel}}</button>
		<button type="button" class="modal-button modal-button--primary {{#processing}}disabled{{/}}" disabled="{{processing}}" on-click="confirm()">
			{{^processing}}
				{{texts.modals.sendNem.txConfirm.confirm}}
			{{/}}
			{{#processing}}
				{{texts.modals.sendNem.txConfirm.sending}}
			{{/}}
		</button>
	</div>
</transactionConfirmModal>
<transactionDetailsModal modalClass="txDetailsModal modal--wide" modalTitle="{{texts.modals.transactionDetails.title}}" closeOnEnter="true" on-registerToolTip="registerToolTip" texts="{{texts}}">
	{{#transaction}}
		<table>
            <tr>
                <td class="txDetails-cell--label">{{texts.modals.transactionDetails.hash}}</td>
                <td class="txDetails-cell--content">{{.hash}}</td>
            </tr>
			<tr>
				<td class="txDetails-cell--label">{{texts.modals.transactionDetails.type}}</td>
				<td class="txDetails-cell--content">{{.isPending? texts.modals.transactionDetails.pending : (.isSelf? texts.modals.transactionDetails.self : (.isOutgoing? texts.modals.transactionDetails.outgoing : texts.modals.transactionDetails.incoming))}}</td>
			</tr>
			<tr>
				<td class="txDetails-cell--label">{{texts.modals.transactionDetails.sender}}</td>
				<td class="txDetails-cell--content">{{.formattedSender}}</td>
			</tr>
			<tr>
				<td class="txDetails-cell--label">{{texts.modals.transactionDetails.recipient}}</td>
				<td class="txDetails-cell--content">{{.formattedRecipient}}</td>
			</tr>
			<tr>
				<td class="txDetails-cell--label">{{texts.modals.transactionDetails.message}}</td>
				<td class="txDetails-cell--content">
					{{.message}}{{^.message}}<span class="dimmed">{{texts.modals.transactionDetails.noMessage}}</span>{{/}}
					{{#.encrypted}}
						&nbsp;<span class="icon-lock encryptedIcon" title="{{texts.modals.transactionDetails.encrypted}}" on-mouseover="registerToolTip"></span>
					{{/}}
				</td>
			</tr>
			<tr>
				<td class="txDetails-cell--label">{{texts.modals.transactionDetails.time}}</td>
				<td class="txDetails-cell--content">{{.formattedDate}}</td>
			</tr>
			<tr>
				<td class="txDetails-cell--label">{{texts.modals.transactionDetails.confirmations}}</td>
				<td class="txDetails-cell--content">
					{{#if blockchainHeight}}
						{{blockchainHeight - .blockHeight}}
					{{else}}
						{{texts.modals.transactionDetails.confirmationsUnknown}}
					{{/if}}
				</td>
			</tr>
			<tr>
				<td class="txDetails-cell--label">{{texts.modals.transactionDetails.amount}}</td>
				<td class="txDetails-cell--content">{{{.formattedFullAmount}}} NEM</td>
			</tr>
			<tr>
				<td class="txDetails-cell--label">{{texts.modals.transactionDetails.fee}}</td>
				<td class="txDetails-cell--content">{{{.formattedFullFee}}} NEM</td>
			</tr>
		</table>
	{{/}}
</transactionDetailsModal>
<clientInfoModal modalClass="clientInfoModal modal--wide" modalTitle="{{texts.modals.clientInfo.title}}" closeOnEnter="true" texts="{{texts}}" ncc="{{ncc}}" nis="{{nis}}" nisSynchronized="{{nisSynchronized}}">
	<div class="logo">
		<img src="images/nem_logo.png" alt="NEM - New Economy Movement">
	</div>
	<div class="clientInfo-content">
		<div class="clientInfo-ncc">
			<div class="clientInfo-block">
				<p><strong>{{texts.modals.clientInfo.ncc}}</strong></p>
				{{#loadingNcc}}
					<p>{{texts.modals.clientInfo.loading}}</p>
				{{/}}
				<p>{{ncc.metaData.version}}</p>
			</div>
			{{^loadingNcc}}
				<div class="clientInfo-block">
					<p><strong>{{texts.modals.clientInfo.signer}}</strong> {{ncc.metaData.signer || 'N/A'}}</p>
				</div>
				<div class="clientInfo-block">
					<p><strong>{{texts.modals.clientInfo.remoteServer}}</strong> {{ncc.remoteServer || texts.modals.clientInfo.local}}</p>
				</div>
			{{/}}
		</div>
		<div class="clientInfo-nis">
			<div class="clientInfo-block">
				<p><strong>{{texts.modals.clientInfo.nis}}</strong></p>
				{{#loadingNis}}
					<p>{{texts.modals.clientInfo.loading}}</p>
				{{/}}
				<p>{{nis.nodeInfo.nisInfo.version}}</p>
			</div>
			{{^loadingNis}}
				<div class="clientInfo-block">
					<p><strong>{{texts.modals.clientInfo.signer}}</strong> {{nis.nodeInfo.nisInfo.signer || 'N/A'}}</p>
				</div>
				<div class="clientInfo-block">
					<p>
						<strong>
							{{#nisSynchronized}}
								{{texts.modals.clientInfo.sync}}
							{{/}}
							{{^nisSynchronized}}
								{{texts.modals.clientInfo.notSync}}
							{{/}}
						</strong>
					</p>
				</div>
			{{/}}
		</div>
	</div>
</clientInfoModal>