@import 'compass';
@import '../config';
@import '../mixins';
@import 'wallet-pages';

.dashboard {
	margin-left: -$tile-hGap / 2;
	margin-right: -$tile-hGap / 2;
	margin-top: 9px;
}

.tile {
	padding: $tile-topPadding $tile-rightPadding $tile-bottomPadding $tile-leftPadding;
	background-color: #fff;
	color: #252a34;
	font-size: 13px;
}

.tile-title {
	display: inline-block;
	margin-bottom: 5px;
	font-size: 12px;
	font-weight: $fontWeight-black;
	text-transform: uppercase;
	color: #444444;	
	cursor: pointer;
}

.notAvailableMessage {
	color: rgba(#000, .4);
	font-size: 11px;
	font-weight: $fontWeight-bold;
}

.notAvailableMessage--whole {
	position: absolute;
	bottom: 15px;
	right: 15px;
}

// ================================================================================
// ASSETS TILE
// ================================================================================

.tile--assets {
	background-color: #074661;
	color: #fff;

	.tile-title {
		color: #fff;
	}
}

.assetsTile-assetsCount {
	position: absolute;
	right: $tile-rightPadding;
	bottom: $tile-bottomPadding;
	font-size: 19.5px;
	text-align: right;
}

// ================================================================================
// IMPORTANCE SCORE TILE
// ================================================================================

.tile--importance {
	background-color: #736086;
	color: #fff;

	.tile-title {
		color: #fff;
	}
}

.importanceTile-harvest {
	position: absolute;
	top: 50%;
	left: 0;
	@include transform(translateY(-50%));
}

.importanceTile-harvestButton {
	display: block;
	margin-bottom: 3px;
	padding: 10px 16px;
	background-color: #7c6890;
	font-size: 16px;

	&:before {
		margin-right: 8px;
		vertical-align: -3px;
		font-size: 19px;
	}

	&:not(:disabled):hover {
		background-color: #7c6890;
	}

	&:disabled {
		opacity: .2;
	}
}

.importanceTile-harvestButton--notHarvesting {
	background-color: #4c4058;
}

.importanceTile-harvestButton--harvesting {
	background-color: #a186b9;
}

.importanceTile-content {
	text-align: right;
}

.importanceTile-importanceScore {
	margin-top: 10px;
	font-size: 71px;
	font-weight: $fontWeight-light;
	line-height: 66px;
}

.importanceTile-description {
	margin-top: 15px;
	font-size: 26px;
	font-weight: $fontWeight-black;
	color: #453456;
}

.importanceTile-activateStatus {
	float: right;
	padding: 6px 12px;
	background-color: #6b577c;
}

.importanceTile-activateButton {
    float: right;
	padding: 6px 12px;
	background-color: #6b577c;
	border: 1px solid #f3fcf7;

	&:not(:disabled):hover {
		background-color: #7c6890;
	}
}

// ================================================================================
// TRANSACTIONS TILE
// ================================================================================

.tile--transactions {
	$text-color: #252a34;
	color: $text-color;

	.tile-title {
		margin-bottom: 12px;
	}
}

.transactionsTile-overview {
	@extend %clearfix;
	margin-bottom: 12px;
	padding-bottom: 15px;
	border-bottom: 1px solid #ebebeb;
}

.transactionsTile-balanceLabel {
	margin-bottom: 0;
	font-size: 23px;
	font-weight: $fontWeight-black;
	text-transform: none;
	color: #736086;
}

.transactionsTile-multisig {
    padding-left:30px;
    font-weight: $fontWeight-regular;
    font-size: 16px;
}

.transactionsTile-balance {
	font-size: 36px;
	font-weight: $fontWeight-light;
	vertical-align: middle;
}

.transactionsTile-balanceAccurate {
    padding-left: 10px;
	font-size: 20px;
	vertical-align: middle;
}

.transactionsTile-sendNemButton,
.transactionsTile-signMultisigButton {
	$bgColor: #41ce7d;
	margin-left: 10px;
	height: 27px;
	background-color: $bgColor;
	color: #fff;
	font-size: 13px;
	font-weight: $fontWeight-medium;
	
	&:before {
		margin-right: 5px;
		font-size: 16px;
		vertical-align: -2px;
	}

	&:hover {
		background-color: lighten($bgColor, 10%);
	}

	&:disabled {
		background-color: #888888;
		pointer-events: none;
	}
}

// ================================================================================
// NEM VALUE TILE
// ================================================================================

.tile-nemValue {
	background-image: url(../../images/world-map.png);
}

// ================================================================================
// MESSAGES TILE
// ================================================================================

.tile-messages {
	background-color: #e6801d;

	.tile-title {
		font-size: 16px;
		color: #252a34;
	}
}

// ================================================================================
// NEWS TILE
// ================================================================================

.tile-news {
	background-color: #27d782;

	.tile-title {
		font-size: 16px;
		color: #252a34;
	}
}