@import 'compass';
@import '../config';
@import '../mixins';
@import 'wallet-pages';

$sidebar-width: 296px;
$miniSidebar-width: 44px;
$header-height: 80px;

$mainContent-width: $tile-width * $tile-columns + $tile-hGap * ($tile-columns - 1);
$mainContent-leftPadding: 22px;
$mainContent-rightPadding: 0;
$mainContent-topPadding: $statusIndicator-height + $header-height;

$small-screen: $sidebar-width + $mainContent-leftPadding + $mainContent-width;

// ================================================================================
// Z-INDEX STACKING CONTEXT TREE
// ================================================================================

$zIndex-header:		20;
$zIndex-sidebar:	10;

// ================================================================================
// HEADER
// ================================================================================

.walletHeader {
	position: fixed;
	top: $statusIndicator-height;
	width: 100%;
	height: $header-height + 1px;
	border-bottom: 1px solid #ebebeb;
	background-color: #fff;
	z-index: $zIndex-header;

	.container {
		max-width: $mainContent-width + $mainContent-leftPadding;
		width: 100%;
		height: 100%;
		padding-left: $mainContent-leftPadding;
		padding-right: $mainContent-rightPadding;
		@extend %clearfix;
	}

	// $notiBox-size: 1.9em;

	// .noti-box {
	// 	@include noti-box($notiBox-size);
	// 	color: #fff;
	// 	background-color: #e6801d;
	// 	margin-right: 6px;
	// }

	// .notifications {
	// 	$notification-width: 204px;
	// 	$hPadding: 4px;
	// 	$image-size: 32px;
	// 	$message-width: 110px;
	// 	$hGap: 5px;
	// 	$bgColor: #fff;
	// 	$borderColor: #d5d5d5;
	// 	$arrow-height: 6px;

	// 	font-size: 9.75px;
	// 	font-weight: $fontWeight-light;
	// 	background-color: $bgColor;
	// 	padding: 1px;
	// 	border: 1px solid $borderColor;
	// 	margin-top: 4px + $arrow-height;
	// 	margin-left: $notiBox-size / 2;
	// 	left: - $notification-width / 2;
	// 	display: none;
	// 	@include arrow-box(up, 
	// 		('color': $bgColor, 'width': 10px, 'height': $arrow-height),
	// 		('enable': true, 'width': 1px, 'color': $borderColor));

	// 	.image, .message {
	// 		float: left;
	// 	}

	// 	.image {
	// 		img {
	// 			width: $image-size;
	// 			height: $image-size;
	// 		}
	// 	}

	// 	.message {
	// 		margin-left: $hGap;
	// 		margin-right: $hGap;
	// 		width: $message-width;
	// 	}

	// 	.time {
	// 		float: right;
	// 	}

	// 	li {
	// 		padding: 2px 0;
	// 		border-bottom: 1px solid #f6f6f6;
	// 		&:first-child {
	// 			padding-top: 0;
	// 		}
	// 		&:last-child {
	// 			padding-bottom: 0;
	// 			border-bottom: none;
	// 		}
	// 	}

	// 	.notification {
	// 		@extend %clearfix;
	// 		width: $notification-width;
	// 		padding: 3px $hPadding;

	// 		&.unread {
	// 			background-color: #ebebeb;
	// 			.content {
	// 				font-weight: $fontWeight-bold;
	// 			}
	// 		}
	// 	}
	// }
}

.walletHeader-body {
	float: left;
	height: $header-height;
	width: calc(100% - #{$sidebar-width});
}

.walletHeader-search-wrapper {
	float: left;
	font-size: 14px;
	color: #afafaf; //#252a34;
	pointer-events: none;
}

.walletHeader-searchButton {
	padding: 0;
	font-size: 21px;
	vertical-align: text-bottom;

	&:before {
		display: block;
	}
}

.walletHeader-search {
	border-bottom: 1px solid #afafaf;//#5f636a;
}

// ================================================================================
// SIDEBAR HEAD
// ================================================================================

.sidebar-head {
	float: left;
	width: $sidebar-width;
	height: $header-height;
	padding-left: 21px;
	padding-right: 25px;
	background-color: #d0d0d0;
}

.sidebar-logo {
	float: left;
	cursor: pointer;
}

.navToggler {
	float: right;
	color: #2d2d2d;
	font-size: 16px;
}

// ================================================================================
// TEMPORARY MESSAGE
// ================================================================================

.tempMessage {
	visibility: none;
	opacity: 0;
	float: left;
	margin-left: 150px;
	font-size: 12px;
	color: #3c783a;
	@include transition(opacity 1s);
}

.tempMessage--shown {
	visibility: visible;
	opacity: 1;
	@include transition(none);
}

.tempMessage-body {
	@include border-radius(3px);
	padding: 10px 15px;
	background-color: #e0efd8;
	font-weight: $fontWeight-medium;
}

// ================================================================================
// WALLET BOX
// ================================================================================

.walletBox {
	float: right;
	font-size: 14px;

	// .noti-area {
	// 	@include inline-block();
	// }
}

.walletBox-avatar {
	width: $avatar-small;
	height: $avatar-small;
}

// .noti-box, 
.walletBox-walletInfo, 
.walletBox-avatar {
	vertical-align: middle;
}

.walletBox-walletInfo, 
.walletBox-avatar {
	margin-right: 10px;
}

.walletBox-walletInfo {
	display: inline-block;
	text-align: right;
}

.walletBox-walletName {
	font-weight: $fontWeight-bold;
}

.walletBox-lastAccess {
	color: #8e8e8e;
	font-size: 12px;
}

.walletBox-menu {
	display: inline-block;
	position: relative;
}

.walletBox-menu-button {
	font-size: 11px;
	vertical-align: middle;
}

.walletBox-menu-dropdown {
	position: absolute;
	right: 0;
	top: calc(100% + 20px);
}

// ================================================================================
// ACCOUNT
// ================================================================================

$account-height: 80px;
$account-actions-width: 33px;

.account {
	position: relative;
	font-size: 14px;
	color: #fff;
	cursor: pointer;
}

.account--active {
	background-color: #2e3541;

	.account-info:hover, 
	&.account--selecting .account-info {
		background-color: #272e38;
	}
}

.account--others {
	background-color: #1b1f27;
	
	&:hover {
		background-color: #161a20;
	}
}

.account-info {
	min-height: $account-height;
	width: calc(100% - #{$account-actions-width});
	padding: 10px 5px 6px 21px;
	@include transition(background-color .3s);
}

.account-info-line {
	margin-bottom: 3px;
}

.account-id {
	margin-bottom: 3px;
	outline: none;
}

.account-label {
	color: #a1bbee;
	font-weight: $fontWeight-medium;
	@include break-word();
}

.account-label--blank {
	color: #5a6479;
	font-style: italic;
}

.account-actionsButton {
	position: absolute;
	top: 0;
	right: 0;
	width: $account-actions-width;
	height: $account-height;
	line-height: $account-height;
	text-align: center;
	font-size: 14px;
	background-color: #2e3541;

	&:hover, 
	&.active {
		background-color: #272e38;
	}

	&, 
	&:hover, 
	&.active {
		& > .account-actionsButton--gear {
			display: initial;
		}

		& > .account-actionsButton--arrow {
			display: none;
		}
	}

	.account-info:hover + &,
	.account--selecting &:not(:hover) {
		background-color: #272e38;

		& > .account-actionsButton--gear {
			display: none;
		}

		& > .account-actionsButton--arrow {
			display: initial;
		}
	}
}

.account-primary {
	display: inline-block;
	margin-left: 5px;
	padding: 0 8px 2px;
	font-size: 11px;
	background-color: #3498db;
	color: #fff;
}

.account-actionsDropdown {
	position: absolute;
	top: 100%;
	right: 0;
}

.account-select {
	position: absolute;
	max-height: 300px;
	width: $sidebar-width;
}

// ================================================================================
// WALLET MAIN
// ================================================================================

.wallet-main {
	min-height: 100%;
	padding-top: $mainContent-topPadding;
	padding-bottom: 9px;
	background-color: #ebebeb;

	.container {
		padding-left: $sidebar-width + $mainContent-leftPadding;
		width: $sidebar-width + $mainContent-leftPadding + $mainContent-width;
	}

	@mixin mini-sidebar() {
		.sidebar {
			width: $miniSidebar-width;
		}

		.miniSidebarOnly {
			display: initial;
		}

		.fullSidebarOnly {
			display: none;
		}

		.account--active {
			background-color: #252a34;

			.account-primary {
				margin-top: 22px;
				margin-left: 0;
				padding: 3px 8px 4px;
				font-weight: $fontWeight-medium;
			}

			.account-info {
				width: 100%;
				padding-left: 0;
				padding-right: 0;
				text-align: center;
			}
		}

		.account-actionsButton {
			position: static;
			width: 100%;
			height: auto;
			line-height: normal;
			background-color: transparent;
		}

		.account-actionsDropdown {
			top: $account-height;
			right: auto;
			left: 100%;
		}

		.account-select {
			top: 0;
			left: 100%;
			text-align: left;
		}

		.sidebar-nav {
			padding-right: 0;
		}

		.sidebar-nav-item {
			text-align: center;

			&, 
			&:not(.disabled).active, 
			&:not(.disabled):hover {
				padding-left: 0;
				padding-right: 0;
				border-left: none;
			}
		}

		.sidebar-nav-item-title {
			&:before {
				margin-right: 0;
			}
		}
	}

	@mixin shrunk-container() {
		.container {
			padding-left: $miniSidebar-width + $mainContent-leftPadding;
			width: $miniSidebar-width + $mainContent-leftPadding + $mainContent-width;
		}
	}

	@media (max-width: #{$small-screen}) {
		&:not(.fullSidebar) {
			@include mini-sidebar();
		}

		@include shrunk-container();
	}

	&.miniSidebar {
		@include mini-sidebar();
		@include shrunk-container();
	}

	&.sidebarScrollable {
		position: absolute;
		width: 100%;
		@include fill-restOfHeight-container();

		.sidebar {
			position: absolute;
			height: calc(100% - #{$mainContent-topPadding});
			@include fill-restOfHeight();
		}
	}
}

// ================================================================================
// SIDEBAR
// ================================================================================

.miniSidebarOnly {
	display: none;
}

.sidebar {
	$sidebar-textColor: #ebebeb;
	position: fixed;
	height: 100%;
	width: $sidebar-width;
	background-color: #252a34;
	color: $sidebar-textColor;
	z-index: $zIndex-sidebar;
}

.sidebar-nav {
	// $notiBox-size: 1.4em;
	padding-top: 24px;
	padding-right: 18px;
	font-size: 13px;

	// .noti-box {
	// 	float: right;
	// 	@include noti-box($notiBox-size);
	// 	&.messages {
	// 		background-color: #e89442;
	// 		color: #ebebeb;
	// 	}
	// 	&.transactions {
	// 		background-color: #fff;
	// 		color: #252a34;
	// 	}
	// 	&.news {
	// 		background-color: #27d782;
	// 		color: #252a34;
	// 	}
	// }
}

.sidebar-nav-item {
	margin-top: 18px;
	margin-bottom: 18px;
	padding-left: 40px;
	padding-top: 2px;
	padding-bottom: 2px;
	color: #5a6479;
	font-weight: $fontWeight-medium;
	@include transition-property(padding-left, border-left-width);
	@include transition-duration(.3s);

	&.disabled {
		color: #2e3541;
		pointer-events: none;
		cursor: default;
	}

	&:not(.disabled) {
		$indicator-width: 6px;
		$padding-left: 52px;

		&.active, 
		&:hover {
			.sidebar-nav-item-title {
				color: #ebebeb;
			}
		}
		
		&:hover {
			padding-left: $padding-left;
		}
		
		&.active {
			padding-left: $padding-left - $indicator-width;
			border-left: $indicator-width solid #ebebeb;
		}
	}
}

.sidebar-nav-item-title {
	@include transition-property(color);
	@include transition-duration(.3s);

	&:before {
		margin-right: 10px;
		font-size: 1.2em;
		vertical-align: -2px;
	}
}

// ================================================================================
// CLIENT INFO MODAL
// ================================================================================

.clientInfoModal {
	font-size: 13px;

	.modal-body {
		padding: 18px 38px 22px;
	}
}

.clientInfo-content {
	@extend %clearfix;
	margin-top: 40px;
	text-align: left;
	@include break-word();
}

.clientInfo-ncc {
	float: left;
	width: 45%;
}

.clientInfo-nis {
	float: right;
	width: 45%;
}

.clientInfo-block {
	margin-bottom: 1em;
}

// ================================================================================
// SEND NEM MODAL
// ================================================================================

$sendNem-textbox-height: 27px;
$sendNem-textbox-vPadding: 6px;
$sendNem-textbox-hPadding: 8px;

.sendNemModal {
	font-size: 12px;

	.modal-body {
		padding: 3px 16px 18px;
		text-align: left;
	}
}

.sendNem-control {
	width: 100%;
	background-color: #ebebeb;
	color: #444444;
}

.sendNem-control--half {
	width: calc(50% - 8px);
}

.sendNem-control--fee {
	float: left;
}

.sendNem-control--dueBy {
	float: right;
}

.sendNem-textbox {
	width: 100%;
	height: $sendNem-textbox-height;
	padding: $sendNem-textbox-vPadding $sendNem-textbox-hPadding;

	@include input-placeholder() {
		color: #a2a2a2;
	}
}

.sendNem-textbox--message {
	margin-bottom: 7px;
	height: 100px;
}

.sendNem-textbox--recipient {
	text-transform: uppercase;

	@include input-placeholder() {
		text-transform: none;
	}
}

.sendNem-textbox--fee, 
.sendNem-textbox--dueBy {		
	text-align: right;
}

.sendNem-control-unit  {
	float: right;
	padding-right: $sendNem-textbox-hPadding;
	line-height: $sendNem-textbox-height;
}

.sendNem-label {
	float: left;
	padding-left: $sendNem-textbox-hPadding;
	height: $sendNem-textbox-height;
	line-height: $sendNem-textbox-height;
	font-weight: $fontWeight-black;
}

.sendNem-recipientLabel {
	margin-top: 7px;
	margin-left: 10px;
	font-size: 11px;
	color: #1b5278;
}

.sendNem-row {
	@extend %clearfix;
}

.sendNem-block {
	margin-top: 17px;
}

.sendNem-setFeeButton {
	$color: #e89442;
	display: block;
	margin-top: 7px;
	color: $color;	
	font-size: 11px;
	font-weight: $fontWeight-black;

	&:hover {
		color: lighten($color, 15%);
	}
}

.sendNem-checkbox {
	vertical-align: -2px;
}

.sendNem-submit {
	text-align: right;
}

.sendNem-submit-button {
	$background: #1b5278;
	background-color: $background;
	color: #fff;

	&.disabled {
		background-color: #d1d1d1;
		pointer-events: none;
	}

	&:hover {
		background-color: lighten($background, 10%);
	}
}

// ================================================================================
// TRANSACTION CONFIRMATION MODAL
// ================================================================================

$txConfirm-label-width: 130px;

.txConfirmModal {
	.modal-body {
		padding: 16px;
	}
}

.txConfirm-txInfo {
	padding-top: 20px;
	padding-bottom: 20px;
	border: 1px dashed #d2d2d2;
}

.txConfirm-line {
	@extend %clearfix;
}

.txConfirm-label {
	float: left;
	width: $txConfirm-label-width;
	padding-left: 8px;
	padding-right: 8px;
	text-align: right;
}

.txConfirm-value {
	float: left;
	width: calc(100% - #{$txConfirm-label-width});
	padding-left: 8px;
	padding-right: 8px;
	text-align: left;
}

.txConfirm-actions {
	margin-top: 20px;
}

.txConfirm-recipient {
	text-transform: uppercase;
}

.txConfirm-totalLabel,
.txConfirm-total {
	display: inline-block;
	margin-top: 7px;
	margin-bottom: 7px;
	border-top: 1px solid #aeaeae;
	border-bottom: 1px solid #aeaeae;
	height: 48px;
	line-height: 48px;
}

.txConfirm-total {
	font-size: 24px;
	font-weight: $fontWeight-light;
}

.txConfirm-amount,
.txConfirm-fee,
.txConfirm-recipientLabel,
.txConfirm-totalLabel,
.txConfirm-messageLabel {
	font-weight: $fontWeight-bold;
}

// ================================================================================
// TRANSACTION DETAILS MODAL
// ================================================================================

.txDetailsModal {
	font-size: 13px;
	color: #444444;

	.modal-body {
		padding: 20px;
	}
}

.txDetails-cell--label,
.txDetails-cell--content {
	$padding: 2px;
	padding-top: $padding;
	padding-bottom: $padding;
}

.txDetails-cell--label {
	font-weight: $fontWeight-bold;
	text-align: right;
	white-space: nowrap;
	vertical-align: top;
}

.txDetails-cell--content {
	padding-left: 15px;
	font-weight: $fontWeight-medium;
	text-align: left;
	vertical-align: top;
}