<?xml version="1.0" encoding="utf-8"?>
<jnlp spec="7.0+" href="$outputFile" codebase="$nem-code-base" version="$project.version">
  <information>
    <title>NEM Community Client (NCC)</title>
    <vendor>NEM Community</vendor>
    <homepage href="http://www.ournem.com"/>
    <description>NEM Community Client, everything you need to communicate with the NEM Cloud.</description>
    <description kind="short">NEM Community Client (NCC)</description>
    <description kind="one-line">Your NEM Wallet.</description>
    <description kind="tooltip">Start participating in NEM.</description>
    <icon href="images/ncc_64x64.ico"/>
    <icon href="images/ncc_32x32.ico"/>
    <icon kind="splash" href="images/splash_screen.png"/>
  </information>
  <security>
      <all-permissions/>
  </security>
  <update check="always" policy="always"></update>
  <resources>
    <java version="1.8+" java-vm-args="-esa -Xnoclassgc"/>
    $dependencies
<!-- Progress Bar add download="progress" -->
</resources>
  <application-desc main-class="$mainClass" progress-class="org.nem.client.download.SplashProgressBar">
  </application-desc>
</jnlp> 
