@import 'compass';
@import '../config';
@import '../mixins';

// ================================================================================
// UTILITY STYLES
// ================================================================================

.container {
	margin-left: auto;
	margin-right: auto;
	width: $container-width;
}

.hidden {
	display: none;
}

.scrollable {
    overflow-y: auto;
}

.vmiddle-container {
	display: table;
	height: 100%;
}

.vmiddle {
	display: table-cell;
	vertical-align: middle;
}

// its sibblings must float
.restOfWidth {
	overflow: hidden;
}

.unit {
	font-weight: $fontWeight-black;
}

.surname {
	font-weight: $fontWeight-bold;
}

.dimmed {
	color: #d1d1d1;
}

.variation {
	@include inline-block();
	text-align: center;
}

.variation-arrow {
	font-size: 2.2em;
}

.variation-arrow:before, 
.variation-amount {
	display: block;
	line-height: .7em;
}

.expandable {
	height: 0;
	overflow-y: hidden;
}

.expandable--horizontally {
	width: 0;
	overflow-x: hidden;
}

.horizontalSeparator {
	position: relative;
	text-align: center;

	&:before {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		right: 0;
		border-bottom: 1px solid #e8ebf0;
	}
}

.horizontalSeparator-content {
	position: relative;
	margin-left: 8px;
	margin-right: 8px;
	background-color: #fff;
	color: #aeadad;
	font-size: 13px;
	vertical-align: 2px;
}

.hider {
	width: 0;
	height: 0;
	overflow: hidden;
}

.dropdownMenu {
	border-bottom: 2px solid #d4d4d4;
	background-color: #ebebeb;
	color: #444444;
}

.dropdownMenu-item {
	padding: 6px 15px;
	font-weight: $fontWeight-medium;
	white-space: nowrap;
	cursor: pointer;

	&:hover, 
	&.zeroclipboard-is-hover {
		background-color: #d4d4d4;
	}

	&.disabled {
		color: #888888;
		pointer-events: none;
	}
}

.dropdownMenu-item--separator {
	border-bottom: 1px solid #d4d4d4;
}

$bulletTab-bgColor: #fff;
$bulletTab-primaryColor: #8e8e8e;
$bulletTab-hoverBgColor: #f0f0f0;

.bulletTabs {
	@extend %clearfix;
}

.bulletTab-control {
	float: left;
	padding: 6px 12px;
	border: 1px solid $bulletTab-primaryColor;
	background-color: $bulletTab-bgColor;
	color: $bulletTab-primaryColor;
	cursor: pointer;

	&:first-child {
		@include border-left-radius(4px);
	}

	&:last-child {
		@include border-right-radius(4px);
	}

	&:not(:last-child) {
		border-right: none;
	}

	&:hover {
		background-color: $bulletTab-hoverBgColor;
	}

	&.active {
		background-color: $bulletTab-primaryColor;
		color: $bulletTab-bgColor;
	}
}

.encryptedIcon {
	color: #f1c40f;
}

.hoverTarget {
	.showOnHover {
		display: none;
	}

	&:hover {
		.hideOnHover {
			display: none;
		}

		.showOnHover {
			display: initial;
		}
	}
}

.consecutiveButtons {
	border: 1px solid #aeaeae;
	@include border-radius(2px);
	display: inline-block;
}

.consecutiveButtons-button {
	border-right: 1px solid #aeaeae;
	background-color: #fff;

	&:last-child {
		border-right: none;
	}

	&:hover {
		background-color: #e9e9e9;
	}
}

// ================================================================================
// FORM STYLES
// ================================================================================

$form-textColor: #444444;
$form-disabledColor: rgba($form-textColor, .5);
$form-borderColor: #e5e5e5;
$form-input-height: 32px;
$form-input-hPadding: 12px;

.form {
	color: $form-textColor;
}


.form-field {
	margin-top: 16px;
}

.form-label {
	margin-bottom: 6px;
	font-weight: $fontWeight-bold;
}

.form-input {
	display: block;
	padding: 0 $form-input-hPadding;
	border: 1px solid $form-borderColor;
	width: 100%;
	@include border-radius(4px);

	&.form-input--textbox {
		height: $form-input-height;
	}

	&.form-input--textarea {
		padding: 6px $form-input-hPadding;
	}

	&.form-input--unimportant {
		color: $form-disabledColor;
	}

	&.form-input--error {
		border-color: #c0392b;
	}
}

.form-input-end {
	float: right;
	line-height: $form-input-height;
}

.form-input-inner {
	display: block;
	width: 100%;
	padding-right: $form-input-hPadding;
	height: $form-input-height;
}

.form-sublabel {
	$color: #1b5278;
	margin-top: 6px;
	margin-left: 10px;
	font-size: 11px;
	color: $color;

	&.form-sublabel--nullContent {
		font-style: italic;
		color: rgba($color, .5);
	}
}

.sublabelWarning {
    color: #d14233;
    font-size: 12px;
    font-weight: bold;
}

.form-subfield {
	margin-top: 6px;
}

.form-row {
	@extend %clearfix;
}

.form-half {
	$middleGap: 16px;
	float: left;
	width: 50%;

	&.form-half--left {
		padding-right: $middleGap / 2;
	}

	&.form-half--right {
		padding-left: $middleGap / 2;
	}
}

.form-dropdownbox {
	position: relative;
}

.form-dropdownbox-black {
    color: #000;
}

.form-dropdownbox-selection {
	position: relative;
	@include border-radius(4px);
	height: $form-input-height;
	line-height: $form-input-height;
	cursor: pointer;

	&:after {
		$width: 10px;
		$height: 6px;
		content: ' ';
		position: absolute;
		top: 50%;
		right: 8px;
		margin-top: -$height / 2;
		height: 0;
        width: 0;
        border: $width / 2 solid transparent;
        border-top: $height solid #8e8e8e;
	}

	&.form-dropdownbox-selection--selecting {
		@include border-bottom-radius(0);
	}
}

.form-dropdownbox-textbox {
	@include border-radius(4px);
	cursor: initial;

	&.form-dropdownbox-textbox--selecting {
		@include border-bottom-radius(0);
	}
}

.form-dropdownbox-dropdown {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	border: 1px solid $form-borderColor;
	border-top: none;
	z-index: 10;
}

.form-dropdownbox-item {
	padding: 4px 12px;
	border-bottom: 1px solid $form-borderColor;
	background-color: #fff;
	cursor: pointer;

	&:last-child {
		border-bottom: none;
	}

	&:hover {
		background-color: #c0c0c0;
	}
}

.form-checkbox,
.form-checkbox-label {
	vertical-align: middle;
	&.disabled {
		color: #888;
	}
}

.form-input-remove {
	opacity: .6;
	width: 20px;
	padding: 0;
	height: $form-input-height;
	line-height: $form-input-height;
	text-align: right;
}

// ================================================================================
// TXLIST
// ================================================================================

.txList {
	width: 100%;
}

.txList-header, 
.txList-cell {
	white-space: nowrap;
}

.txList-header {
	padding: 7px 5px 12px;
	font-size: 14px;
	font-weight: $fontWeight-black;
	text-align: left;
}

.txList-row--colored {
	&:nth-child(odd) {
		background-color: #f6f6f6;
	}
}

.txList-cell {
	padding: 8px 5px;
	text-align: left;
	font-weight: $fontWeight-medium;
}

.txList-col--type {
	position: relative;
	top: 2px;
	font-size: 15px;
}

.txList-col--type--incoming {
	color: #27ae60;
}

.txList-col--type--outgoing {
	color: #c0392b;
}

.txList-col--type--pending {
	color: #d1d1d1;
	font-size: 13px;
}

.txList-col--sender, 
.txList-col--message {
	overflow: hidden;
	text-overflow: ellipsis;
}

.txList-col--sender {
	max-width: 150px;
}

.txList-col--message {
	max-width: 150px;
}

.txList-col--confirmations {
	text-align: center;
}

.txList-col--fee, 
.txList-col--amount {
	text-align: right;
}

.hyperlink--default {
	font-weight: $fontWeight-bold;
	color: #3498db;

	&:hover {
		text-decoration: underline;
	}
}

.txList-seeAll {
	$color: #252a34;
	margin-top: 8px;
	color: $color;
	font-weight: $fontWeight-bold;
	text-align: right;
}

.txList-seeAll-arrow {
	font-size: 16px;
	vertical-align: -3px;
}

.txList-noRecords {
	margin-top: 2em;
	color: rgba(#000, .4);
	font-size: 12px;
	font-style: italic;
}

// ================================================================================
// TXLIST
// ================================================================================

.txList {
	width: 100%;
}

.txList-header, 
.txList-cell {
	white-space: nowrap;
}

.txList-header {
	padding: 7px 5px 12px;
	font-size: 14px;
	font-weight: $fontWeight-black;
	text-align: left;
}

.txList-row--colored {
	&:nth-child(odd) {
		background-color: #f6f6f6;
	}
}

.txList-cell {
	padding: 8px 5px;
	text-align: left;
	font-weight: $fontWeight-medium;
}

.txList-col--type {
	position: relative;
	top: 2px;
	font-size: 15px;
}

.txList-col--type--incoming {
	color: #27ae60;
}

.txList-col--type--outgoing {
	color: #c0392b;
}

.txList-col--type--pending {
	color: #d1d1d1;
	font-size: 13px;
}

.txList-col--sender, 
.txList-col--message {
	overflow: hidden;
	text-overflow: ellipsis;
}

.txList-col--sender {
	max-width: 150px;
}

.txList-col--message {
	max-width: 150px;
}

.txList-col--details {
	font-weight: $fontWeight-bold;
	color: #3498db;
	cursor: pointer;

	&:hover {
		text-decoration: underline;
	}
}

.txList-col--confirmations,
.txList-col--actions {
	text-align: center;
}

.txList-col--fee, 
.txList-col--amount {
	text-align: right;
}

.txList-seeAll {
	$color: #252a34;
	margin-top: 8px;
	color: $color;
	font-weight: $fontWeight-bold;
	text-align: right;
}

.txList-seeAll-arrow {
	font-size: 16px;
	vertical-align: -3px;
}

.txList-noRecords {
	margin-top: 2em;
	color: rgba(#000, .4);
	font-size: 12px;
	font-style: italic;
}

// ================================================================================
// MODAL
// ================================================================================

$modal-transitionDuration: .3s;

.modal-container {
	visibility: hidden;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(#252a34, .5);
	overflow: auto;
	overflow-y: auto;
	@include transition-property(visibility, opacity);
	@include transition-duration(0s, $modal-transitionDuration);
	@include transition-timing-function(linear, ease);
	@include transition-delay($modal-transitionDuration, 0s);
	z-index: $zIndex-modal;

	&.modal--active {
		visibility: visible;
		opacity: 1;
		@include transition-delay(0s);
	}
}

.modal {
	$border-width: 5px;
	position: relative;
	margin-top: 126px;
	margin-left: auto;
	margin-right: auto;
	width: 445px;
	@include transform(scale(0.8));
	background-color: #fff;
	font-size: 14px;
	@include transition-property(transform);
	@include transition-duration($modal-transitionDuration);
	z-index: 0;

	&:before {
		content: '';
		position: absolute;
		top: -$border-width;
		bottom: -$border-width;
		left: -$border-width;
		right: -$border-width;
		border: 5px solid rgba(#000101, .16);
		z-index: -1;
	}

	.modal--active & {
		@include transform(scale(1));
	}
}

.modal--medium {
	width: 530px;
}

.modal--wide {
	width: 650px;
}

.modal-head {
	border-bottom: 1px solid #f5f5f5;
	padding: 8px 16px;
}

.modal-head--empty {
	border-bottom: none;
}

.modal-title {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: $fontWeight-bold;
	color: #888888;
}

.modal-body {
	color: #444444;
	padding: 34px 50px 26px;
}

.modal-closeBtn {
	position: absolute;
	top: 8px;
	right: 8px;
	color: #888888;
	font-size: 16px;
}

.modal-actions {
	margin-top: 26px;
}

.modal-buttons {
	text-align: right;
	margin-top: 10px;
}

.modal-buttons--center {
	text-align: center;
}

.modal-button {
	min-width: 80px;
	@include border-radius(4px);
	padding: 6px 16px;
	font-size: 13px;
	font-weight: $fontWeight-bold;
	color: #fff;

	&:not(:first-child) {
		margin-left: 6px;
	}

	&:disabled {
		background-color: #d1d1d1;
		pointer-events: none;
	}
}

.modal-button--neutral {
	$bgColor: #1b5278;
	background-color: $bgColor;

	&:hover {
		background-color: lighten($bgColor, 20%);
	}
}

.modal-button--secondary {
	$bgColor: #8e8e8e;
	background-color: $bgColor;

	&:hover {
		background-color: lighten($bgColor, 15%);
	}
}

.modal-button--primary {
	$bgColor: #41ce7d;
	background-color: $bgColor;

	&:hover {
		background-color: lighten($bgColor, 15%);
	}
}

.modal-button--submit {
	text-transform: uppercase;
}

/** Error Modal **/

.errorModal,.yikesModal {
	width: 340px;
	font-size: 13px;

	.modal-head {
		border-bottom: none;
	}

	.modal-body {
		padding-top: 0;
		color: #888888;
		text-align: center;
	}
}

.errorModal-title {
	margin-top: 12px;
	margin-bottom: 20px;
	font-size: 35px;
	font-weight: $fontWeight-medium;
	color: #d14233;
}

.errorModal-caption,
.errorModal-message {
	margin-top: .2em;
}

.yikesModal-title {
	margin-top: 12px;
	margin-bottom: 20px;
	font-size: 35px;
	font-weight: $fontWeight-medium;
	color: #41ce7d;
}

.yikesModal-caption,
.yikesModal-message {
	margin-top: .2em;
}

/** Message Modal **/

.messageModal {
	.modal-body {
		text-align: center;
	}
}

/** Input Modal **/

.inputModal {
	font-size: 13px;

	.modal-body {
		padding: 0 22px 22px;
	}

	.modal-message {
		padding: 10px 20px 10px;
		font-size: 14px;
		font-weight: $fontWeight-medium;
	}
}

.inputModal-form {
	padding-bottom: 10px;
}

/** Settings Modal **/

$settingModal-hPadding: 28px;
$settingModal-vSpacing: 16px;
$settingModal-borderColor: #e5e5e5;
$settingModal-bgColor: #fff;

.settingsModal {
	width: 432px;
	font-size: 13px;

	.modal-body {
		padding: 0;
	}
}

.settingsModal-main {
	padding: 20px $settingModal-hPadding;
	text-align: center;
}

.settingsModal-tabs {
	display: inline-block;
	margin-bottom: 6px;
}

.settingsModal-panel {
	text-align: left;
}

.settingsModal-submit {
	margin-top: 20px;
}

.settingsModal-language {
	$label-width: 80px;
	$border-color: #cbcbcb;
	$background-color: #f0f0f0;

	padding: $settingModal-vSpacing $settingModal-hPadding;
	background-color: $background-color;
	@extend %clearfix;

	.form-input {
		border-color: $border-color;
	}

	.form-dropdownbox-dropdown {
		border-color: $border-color;
	}

	.form-label {
		float: left;
		margin-bottom: 0;
		width: $label-width;
		line-height: $form-input-height;
	}

	.form-dropdownbox {
		float: right;
		width: calc(100% - #{$label-width});
	}
}

// ================================================================================
// TYPEAHEAD.JS
// ================================================================================

.twitter-typeahead {
	width: 100%;
}

.tt-dropdown-menu {
	width: 100%;
	padding: 4px 0;
	@include border-radius(3px);
	@include box-shadow(0 0 15px 0 rgba(#000, .3));
	background-color: #fff;
}

.tt-suggestion {
	padding: 0 10px;
	height: 32px;
	line-height: 32px;
	font-size: 13px;
	cursor: pointer;
	@extend %clearfix;

	strong {
		font-weight: $fontWeight-bold;
	}
}

.tt-cursor {
	background-color: #5dcd86;
	color: #fff;
}

.abSuggestion-label {
	float: left;
}

.abSuggestion-address {
	float: right;
}

.abSuggestion-justFormat {
	color: #8e8e8e;

	.tt-cursor & {
		color: #fff;
	}
}