@import 'compass';
@import '../config';
@import '../mixins';

// ================================================================================
// RESET
// ================================================================================

*, 
*:before, 
*:after {
	@include box-sizing(border-box);
}

html {
	font-family: "Roboto", sans-serif;
	color: #444444;
}

html, 
body {
	height: 100%;
}

body {
	overflow: auto !important;
}

ul, 
ol {
	margin: 0;
	padding: 0;

	li {
		list-style-type: none;
	}
}

a, 
a:hover, 
a:active {
	color: inherit;
	text-decoration: none;
}

a {
	@include transition(color .3s);
}

button, 
input[type='submit'], 
input[type='button'] {
	@include transition-property(background-color, color);
	@include transition-duration(.3s);
}

button, 
input, 
select, 
textarea {
	border: none;
	background-color: transparent;
	outline: none;
}

h1, 
p {
	margin: 0;
}

strong {
	font-weight: $fontWeight-black;
}

em {
	font-weight: $fontWeight-medium;
	font-style: normal;
}

// ================================================================================
// GLOBAL COMPONENTS
// ================================================================================

/** NIS Status Indicator **/

$statusIndicator-height: 40px;

#status-indicator {
	position: fixed;
	top: 0;
	height: $statusIndicator-height;
	left: 0;
	right: 0;
	background-color: rgba(#41ce7d, .72);
	color: #fff;
	font-size: 13px;
	font-weight: $fontWeight-bold;
	text-align: center;
	line-height: $statusIndicator-height;
	opacity: 1;
	visibility: visible;
	@include transition-property(opacity);
	@include transition-duration(.2s);
	z-index: $zIndex-statusIndicator;

	&.hide {
		opacity: 0;
		visibility: hidden;
	}
}

/** Loading Square **/

.loader {
	width: 6.250em;
	height: 6.250em;
}

.loader-container {
	position: relative;
	width: 100%;
	height: 100%;
	@include transform-origin(50%, 50%);
	@include animation(loading-square 1s infinite);
	display: none;

	.loader.loading & {
		display: block;
	}
}

.loader-quarter {
	position: absolute;
	display: block;
	width:50%;
	height:50%;
	
	&:before {
		content: '';
		display: block;
		width: 100%;
		height: 100%;
		background-color: #5dcd86;
		@include transform-origin(50%, 50%);
		@include animation(loading-quarter 1s infinite);
	}

	&.quarter-1 {
		top:0;
		left:0;
	}

	&.quarter-2 {
		top:0;
		right:0;
		@include transform(rotate(90deg));
	}

	&.quarter-3 {
		bottom:0;
		right:0;
		@include transform(rotate(180deg));
	}

	&.quarter-4 {
		bottom:0;
		left:0;
		@include transform(rotate(-90deg));
	}
}

@mixin loading-square-keyframe-content($vendor) {
	0%{ #{$vendor}transform: rotate(-45deg); }
	75%{ #{$vendor}transform: rotate(-45deg); }
	100%{ #{$vendor}transform: rotate(45deg); }
}

@mixin loading-quarter-keyframe-content($vendor) {
  0%{ #{$vendor}transform: translate(0%,0%); }
  25%{ #{$vendor}transform: translate(-50%,-50%); }
  50%{ #{$vendor}transform: translate(-50%,-50%) rotate(-90deg); }
  75%{ #{$vendor}transform: translate(0%,0%) rotate(-90deg); }
  100%{ #{$vendor}transform: translate(0%,0%) rotate(-90deg); }
}

@-webkit-keyframes loading-square { 
	@include loading-square-keyframe-content(-webkit-);
}
@-moz-keyframes loading-square { 
	@include loading-square-keyframe-content(-moz-);
}
@-o-keyframes loading-square { 
	@include loading-square-keyframe-content(-o-);
}
@-ms-keyframes loading-square { 
	@include loading-square-keyframe-content(-ms-);
}
@keyframes loading-square { 
	@include loading-square-keyframe-content('');
}

@-webkit-keyframes loading-quarter { 
	@include loading-quarter-keyframe-content(-webkit-);
}
@-moz-keyframes loading-quarter { 
	@include loading-quarter-keyframe-content(-moz-);
}
@-o-keyframes loading-quarter { 
	@include loading-quarter-keyframe-content(-o-);
}
@-ms-keyframes loading-quarter { 
	@include loading-quarter-keyframe-content(-ms-);
}
@keyframes loading-quarter { 
	@include loading-quarter-keyframe-content('');
}

// ================================================================================
// PLUGINS
// ================================================================================

/** Tiny Carousel **/

.viewport {
	position: relative;
	overflow: hidden;

	.overview {
		position: absolute;
	}
}

/** Dropit **/

.dropdown-wrapper, 
.dropdown-value, 
.dropdown-arrow {
	@include inline-block();
}

.dropdown-arrow {
	font-size: .6em;
}